/*
Theme Name: Boo
Author: Tela Plana
Version: 1.0
*/

@import url('https://www.fontify.me/wf/5e566925b513dd4d658a8a13d6541617');

$breakpoints: (
    'extrasmall'  : 480px,
    'small'  : 720px,
    'medium' : 992px,
    'large'  : 1200px
);

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin respond-to($breakpoint) {
    // Retrieves the value from the key
    $value: map-get($breakpoints, $breakpoint);

    // If the key exists in the map
    @if $value != null {
        // Prints a media query based on the value
        @media (min-width: $value) {
          	@content;
        }
    }
    // If the key doesn't exist in the map
    @else { }

}

//visor breakpoint
.breakpoint {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10px;
    height: 20px;
    z-index: 99999;
    color:white;
    background-color: yellow;
    @include respond-to(small) {
        background-color: orange;
    }
    @include respond-to(medium) {
        background-color: red;
    }
    @include respond-to(large) {
        background-color: blue;
    }
    p::before{
        content:"xs";
        @include respond-to(small) {
            content:"sm";
        }
        @include respond-to(medium) {
            content:"md";
        }
        @include respond-to(large) {
            content:"lg";
        }

    }
}

// ----------------------------------------
//          FONTS
// ----------------------------------------

@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold-webfont.eot');
    src: url('fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-bold-webfont.woff') format('woff'),
         url('fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratthin';
    src: url('fonts/montserrat-thin-webfont.eot');
    src: url('fonts/montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-thin-webfont.woff2') format('woff2'),
         url('fonts/montserrat-thin-webfont.woff') format('woff'),
         url('fonts/montserrat-thin-webfont.ttf') format('truetype'),
         url('fonts/montserrat-thin-webfont.svg#montserratthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.eot');
    src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff'),
         url('fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.eot');
    src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff'),
         url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sanfrancisco';
    src: url('fonts/sanfranciscodisplay-regular-webfont.eot');
    src: url('fonts/sanfranciscodisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sanfranciscodisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/sanfranciscodisplay-regular-webfont.woff') format('woff'),
         url('fonts/sanfranciscodisplay-regular-webfont.ttf') format('truetype'),
         url('fonts/sanfranciscodisplay-regular-webfont.svg#san_francisco_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// ----------------------------------------
//          CORES DO SITE 
// ----------------------------------------

// -- CORES
$cinzaclaro:          #EBEBEB; // 235,235,235
$cinza:               #A8A7B7; // 168,167,163
$cinzaescuro:         #545E65; // 84,94,101
$verde:               #47E4C2; // 71,228,194
$texto:               #231F20; // 
$roxo:                #7b2d6d;
$azulgimbal:          #14a8d4;

html, body{
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body { position: relative; }


p{
    font-family: sanfrancisco;
    color:$cinzaescuro;
    font-size: 16px;
    line-height: 1.5;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        font-size: 15px;
    }
}

h1{
    font-family: 'ralewaymedium';
    color:$texto;
    font-size: 16px;
    margin: 0;
    letter-spacing: 2px;
}


h2{
    font-family: 'montserratbold';
    color:$texto;
    text-transform: uppercase;
    display: block;
    text-align: left;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    @include respond-to(small) {
        text-align: center;
        font-size: 26px;
        margin-bottom: 34px;      
    }
    @include respond-to(medium) {
        text-align: left;
        font-size: 28px;
        margin-bottom: 38px;
    }
    @include respond-to(large) {
        font-size: 28px;
        letter-spacing: 2px;
    }
}

h3{
    font-family: 'montserratbold';
    color:$texto;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 1px;
}


h4{
    font-family: 'montserratbold';
    color:$texto;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 3px;
}


h5{
    font-family: 'montserratbold';
    color:$texto;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 3px;
}

h6{
    font-family: 'montserratthin';
    color:$texto;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.clear{ clear: both;}
.inline { display: inline; }
.none { display: none; }
.show { display: block; transition:all 0.5s; }
.text-center { text-align: center !important; }
.image-center { display: block; margin: 0 auto;}
.white{ color:white; }
.roxo { color: #7b2d6d; }
.verde { color: $verde; }
.texto { color:$texto; }
.uppercase{ text-transform: uppercase; }
.relative { position: relative; }


.pagination{
    display: block;
    margin: 0 auto 40px;

    .holderNav{
        margin: 0 auto;
        display: block;
        border:1px solid red;
        width: auto;
    }

    ul.page-numbers {
        list-style: none;
        margin: 0;
        padding: 0;
        li{ display: inline-block; }
    }
}

span.page-numbers,
a.page-numbers:link,
a.page-numbers:visited{
    // font-family: 'Futura';
    font-family: 'montserratregular';
    font-size: 12px;
    list-style: none;
    display: inline-block;
    margin-right: 2px;
    width: 28px;
    height: 28px;
    padding: 6px 0 7px 10px;
    background-color: #f1f1f1;
    border-radius: 50%;
    transition: all 0.4s;
    text-decoration: none;
    color: #959595;
}
a.page-numbers:hover,
span.page-numbers.current{
    color:white;
    background-color: $verde;
}


// ----------------------------------------
//          HEADER
// ----------------------------------------
.navbar-hide{
    background-color: red !important;
}

// .header .navbar-default.shrink

header{
    position:relative;
    margin: 0 auto;
    width: 100%;
    @include respond-to(small) {
        
    }
    @include respond-to(medium) {
        // width: 960px;
    }
    @include respond-to(large) {
        // width: 1040px;
    }

    .navbar-default .logo{
        position: relative;
        background: url(imgs/ui/logo_negativo-sm.svg) no-repeat 0 0;
        width: 65px;
        height: 103px;
        transition:all 0.3s;
        z-index: 100;
        @include respond-to(small) {
                  
        }
        @include respond-to(medium) {
            
        }
        @include respond-to(large) {
            background: url(imgs/ui/logo_negativo.svg) no-repeat 0 0;
            width: 81px;
            height: 127px;
            
        }
    }

    .navbar-default.shrink .logo{
        position: relative;
        background: url(imgs/ui/logo_secundario.svg) no-repeat 0 0;
        width: 122px;
        height: 55px;
        margin-top: -10px;
        transition: all 0.4s;
    }



    .logogimbal{
        // position: absolute;
        display: block;
        margin-right: 10px;
        margin-top: 10px;
        // @include respond-to(small) {
        
        // }
        // @include respond-to(medium) {
        //     top: 35px;
        //     left: 140px;
        // }
        // @include respond-to(large) {
        //     top: 20px;
        //     left: 200px;
        // }
    }

    .navbar-header { position: relative; }
    .navbar-brand {  float: left; }

    .navbar-default{
        background-color: transparent !important;
        border:none;
    }
    
    .navbar-default.shrink{
        
        padding-bottom: 15px;
        transition: all 0.4s;
    }

    .navbar-default.navgreen{
        background-color: rgba(71,228,194,0.9) !important;
    }

    .navbar{ 
        border-radius: 0; 
        // margin-top: 5px; 
    }
    .navbar-nav{

        margin-top: 10px;

        li{
            padding: 0 20px !important; 
            text-transform: uppercase;
            font-family: montserratbold, sans-serif;
            letter-spacing: 2px;

            a:link,a:visited{
                font-size: 14px;
                line-height: 1;
                transition: all 0.4s;
                padding: 15px 2px 5px 2px;
                color:#fff;
                &:hover{
                    color:$azulgimbal;
                }
            }
        }

        .dropdown-menu{
            right:auto;
            // top: 20px;
            left:0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
            border-radius: 0px;
            border:none;
            background-color: transparent;
            padding: 5px 0 0 2px;
            // @include respond-to(small) {
                
            // }
            // @include respond-to(medium) {
            //     background-color: rgba(11,30,96,0.7);
            //     padding-top: 15px;
            //     padding-bottom: 18px;
            // }
            // @include respond-to(large) {
                
            // }

            li a:link,
            li a:visited{
                padding: 8px 0;
                font-size: 11px;
                color:#fff;
                transition:all 0.4s;
                &:hover{
                    background-color: transparent;
                    color:$verde;
                }
            }


            li.thin a:link,
            li.thin a:visited{
                font-family: montserratthin, sans-serif;
                padding: 8px 0;
                font-size: 11px;
                color:#fff;
                transition:all 0.4s;
                &:hover{
                    background-color: transparent;
                    color:$verde;
                }
            }


        }
    }

    .navbar-default.shrink {
        .navbar-nav{
            ul.dropdown-menu{
                padding-bottom: 20px;
                li a:link,
                li a:visited{
                    background-color: rgba(71,228,194,0.9) !important;
                    padding-left: 14px;
                    padding-right: 14px;
                    &:hover{
                        color:$texto;
                    }
                    // color:red !important;
                }
            }
        }
    }

    // .navbar-nav > ul.dropdown-menu > li a:link,
    // .navbar-default.shrink .navbar-nav > ul.dropdown-menu > li a:visited{
       
    // }
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;
    color:$azulgimbal;
}


.menuSecundario{
    position: fixed;
    z-index: 900;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(35,31,32,0.95);

    .panel-group{
        margin-top: 90px;
    }

    .panel-default{
        background-color: transparent; 
        border:0;
        margin-bottom: 20px;
    }

    .panel-heading{
        background-color: transparent;
        border-radius: 0;
        color:white;
        padding: 0;
    }

    .panel-body{
        border:0 !important;
    }

    // .panel-collapse{
    //     border:0 !important;
    // }

    .panel-title{
        text-align: center;
        font-size: 28px;
        @include respond-to(medium) {
            font-size: 34px;
            
        }
        a.btnBoo:link,a.btnBoo:visited{
            color: $roxo;
            &:hover{
                color:white;
            }
        }

        a.btnGimbal:link,a.btnGimbal:visited{
            color: $verde;
            &:hover{
                color:white;
            }
        }

        a:link,a:visited{
            text-decoration: none;
            transition:all 0.4s;
            span{
                font-family: 'montserratthin';
                display: block;
                font-size: 20px;
                @include respond-to(medium) {
                    font-size: 24px;                    
                }
            }
        }
        // a:hover{
        //     color:white;
        // }

        .btnBoo{
            padding-left: 15px;
            background-image: url(imgs/ui/setadown.svg);
            background-repeat: no-repeat;
            background-position: left 22px;    
            @include respond-to(small) {
                background-position: left 24px;      
            }
            @include respond-to(medium) {
                background-position: left 30px;
            }
        }

        .btnGimbal{
            display: inline-block;
            padding-left: 15px;
            background-image: url(imgs/ui/setadown.svg);
            background-repeat: no-repeat;
            background-position: left 38px; 
            @include respond-to(small) {
                background-position: left 38px; 
            }
            @include respond-to(medium) {
                background-position: left 50px;
            }
        }
    }

    ul#secundario,
    ul#secundarioGimbal{
        margin: 0 auto;
        padding: 0;
        display: block;
        list-style: none;
        li{
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 10px;

            a.boo:link,
            a.boo:visited{
                color:white;
                font-family: 'montserratthin';
                transition:all 0.4s;
                text-decoration: none;
                font-size: 18px;
                @include respond-to(medium) {
                    font-size: 26px;   
                }

                &:hover{
                    color:$roxo;
                }
            }

            a.gimbal:link,
            a.gimbal:visited{
                color:white;
                font-family: 'montserratbold';
                transition:all 0.4s;
                text-decoration: none;
                font-size: 22px;
                @include respond-to(medium) {
                    font-size: 30px;   
                }
                &:hover{
                    color:$verde;
                }
            }

        }

    }
}

// ----------------------------------------
//          MENU
// ----------------------------------------

//hamburguer menu
.mbr-navbar__hamburger {
    display: block;
    margin-top: -11px;
    position: absolute;
    right: 30px;
    top: 40px;
    z-index: 10000;
    color: #fff !important;
    transition:all 0.4s;
    @include respond-to(small) {
        right: 40px;
        top: 45px;
    }
    @include respond-to(medium) {
        right: 50px;
        top: 50px;
    }
    @include respond-to(large) {
        display: none;
    }
}
.shrink .mbr-navbar__hamburger{
    transition:all 0.4s;
    top: 32px;
}



.mbr-hamburger {
  cursor: pointer;
  height: 23px;
  width: 30px;
}
.mbr-hamburger:focus {
  outline: none;
}

.mbr-hamburger__line,
.mbr-hamburger__line:before,
.mbr-hamburger__line:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  cursor: pointer;
}
.mbr-hamburger__line,
.mbr-hamburger__line:before,
.mbr-hamburger__line:after {
  width: 30px;
  border-bottom: 5px solid;
  top: 9px;
}
.mbr-hamburger__line:before {
  top: -9px;
}
.mbr-hamburger__line:after {
  top: 9px;
}
.mbr-hamburger__line,
.mbr-hamburger__line:before,
.mbr-hamburger__line:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.mbr-hamburger--open .mbr-hamburger__line {
  border-color: transparent;
}
.mbr-hamburger--open .mbr-hamburger__line:before,
.mbr-hamburger--open .mbr-hamburger__line:after {
  top: 0;
}
.mbr-hamburger--open .mbr-hamburger__line:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mbr-hamburger--open .mbr-hamburger__line:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg);
}


.holderContent{
    position: relative;
    margin: 0 auto;
    // background-color: red; 
    width: 100%;
    @include respond-to(small) {
        width: 90%;
    }
    @include respond-to(medium) {
        width: 960px;
    }
    @include respond-to(large) {
        width: 1040px;

    }
}


.video{
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-top: 56.25%;

    iframe{
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        box-sizing:border-box;
    }
}


// ----------------------------------------
//          SLIDER
// ----------------------------------------


.sliderDown:link,
.sliderDown:visited{
    position: absolute;
    display: block;
    bottom: 70px;
    left: 50%;
    margin-left: -33px;
    width: 66px;
    height: 80px;
    background-color: red;
    background: url(imgs/ui/setadown-slider.svg) no-repeat center center;
    text-indent: -9999px;
    transition:all 0.4s;
    &:hover{
        bottom: 50px;
    }
}


.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    @include respond-to(small) {
       
    }
    @include respond-to(medium) {
        background-color: #fff;
    }
    @include respond-to(large) {
    }

    .item{
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        height: 500px;
        background-color: #eee;
        @include respond-to(small) {
            height: 590px;
            // background-position: center center;
            background-size: cover;
        }
        @include respond-to(medium) {
            height: 590px;
        }
        @include respond-to(large) {
            background-size: cover;
            height: 710px;
        }
    }

    .holderItems{
        position: absolute;
        left: 50%;
        width: 90%;
        margin-left:-45%;
        // border:1px solid orange;
        top: 180px;
        @include respond-to(small) {
            width: 680px;
            margin-left: -340px;
            top: 160px;      
        }
        @include respond-to(medium) {
            margin-left: -400px;
            top: 130px;
            width: 800px;
        }
        @include respond-to(large) {
            margin-left: -440px;
            top: 180px;
            width: 880px;
        }

        p{
            text-align: center;
            margin-top: 30px;
        }
    }

    .sliderTitle{
        position: relative;
        font-family: 'montserratregular';
        // font-family: 'sanfrancisco';
        text-transform: uppercase;
        color:#fff;
        line-height: 1.2;
        margin-bottom: 10px;
        text-shadow: rgba(0, 0, 0,0.5 ) 0px 0px 19px;
        text-align: center;
        font-size: 20px; 
        letter-spacing: 2px;
        @include respond-to(small) {
            line-height: 1.1;
            font-size: 24px; 
            letter-spacing: 3px;
        }
        @include respond-to(medium) {
            text-align: center;
            line-height: 1.2;
            letter-spacing: 4px;
            font-size: 24px;
        }
        @include respond-to(large) {
            font-size: 24px;
        }
    }

    .sliderSubtitle, p{
        color:white;
        // text-transform: uppercase;
        // font-family: 'montserratlight';
        font-family: font92669;
        text-shadow: rgba(0, 0, 0,0.9 ) 0px 0px 8px;
        letter-spacing: 1px;
        text-align: center;
        font-size: 13px;
        letter-spacing: 3px;
        @include respond-to(small) {
        }
        @include respond-to(medium) {
            // text-align: left;
            letter-spacing: 3px;
            font-size: 13px;
        }
        @include respond-to(large) {
            font-size: 13px;
            letter-spacing: 4px;
        }

    }

    .holderMainIcon{
        position: relative;
        width: inherit;
        // border:1px solid green;
        height: auto;

        text-align: right;
        @include respond-to(small) {
            margin-top: 30px;      
        }
        @include respond-to(medium) {
        }

        img{
            display: inline-block;
        }
    }

    .holderSecondIcon{
        position: absolute;
        bottom:10px;
        img{
            display: block;
        }
    }


    // p{
    //     font-family: font92669;
    //     text-shadow: rgba(0, 0, 0,0.9 ) 0px 0px 8px;
    //     letter-spacing: 1px;
    //     text-align: center;
    //     font-size: 13px;
    //     letter-spacing: 3px;
    //     color:white;
    //     @include respond-to(small) {
            
    //     }
    //     @include respond-to(medium) {
    //         font-size: 14px;
    //     }
    //     @include respond-to(large) {
    //         font-size: 16px;
    //     }
    // }

    .contSlider{
        // border: 1px solid red;
        width: inherit !important;
        @include respond-to(small) {
            margin: 30px auto 0;
        }
        @include respond-to(medium) {
            margin: 60px auto 0;
        }
        @include respond-to(large) {
            margin: 60px auto 0;
        }
    }

    .iconCols{
        // border:1px solid green;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center top;
        span{
            display: block;
            color:white;
            text-transform: uppercase;
            font-family: 'montserratlight';
            text-shadow: rgba(0, 0, 0,0.6 ) 0px 0px 8px;
            letter-spacing: 1px; 
            font-size: 13px;
            @include respond-to(small) {
                padding-top: 95px;
                line-height: 1.4; 
                margin-bottom: 35px;     
                letter-spacing: 2px;
            }
            @include respond-to(medium) {
                padding-top: 150px;
                font-size: 14px;
                line-height: 1.4;
                margin-bottom: 0;
            }
            // @include respond-to(large) {
                 
            // }

            b{
                font-family: 'montserratbold';
            }

        }


    }

    .iconLocalizacao{
        @extend .iconCols;
        // height:150px;
        @include respond-to(small) {
            background-image: url(imgs/slider/icon/icon01b-sm.svg);
                  
        }
        @include respond-to(medium) {
            background-image: url(imgs/slider/icon/icon01b.svg);
        }
    }

    .iconProximidade{
        @extend .iconCols;
        @include respond-to(small) {
            background-image: url(imgs/slider/icon/icon_proximidade-sm.svg);   
        }
        @include respond-to(medium) {
            background-image: url(imgs/slider/icon/icon_proximidade.svg);
        }
        @include respond-to(large) {
            
        }
    }

    .iconDatasolutions{
        @extend .iconCols;
        @include respond-to(small) {
            background-image: url(imgs/slider/icon/icon_datasolutions-sm.svg);     
        }
        @include respond-to(medium) {
            background-image: url(imgs/slider/icon/icon_datasolutions.svg);
        }
        @include respond-to(large) {
            
        }
    }

    .iconAnalytics{
        @extend .iconCols;
        @include respond-to(small) {
            background-image: url(imgs/slider/icon/icon_analytics-sm.svg);     
        }
        @include respond-to(medium) {
            background-image: url(imgs/slider/icon/icon_analytics.svg);
        }
        @include respond-to(large) {
            
        }
    }




    .item1{ 
        background-image: url(imgs/slider/home01-sm.jpg);
        @include respond-to(small) {
           background-image: url(imgs/slider/home01-sm.jpg);
        }
        @include respond-to(medium) {
           background-image: url(imgs/slider/home01-md.jpg);
        }
        @include respond-to(large) {
            background-image: url(imgs/slider/home01.jpg);
        }

        .holderItems{
            // border: 1px solid white;
            text-align: center;
            top: 160px;
            width: 90%;
            margin-left: -45%;
            @include respond-to(small) {
                width: 700px;
                margin-left: -350px;
                top: 130px;
            }
            @include respond-to(medium) {
                width: 800px;
                margin-left: -400px;
                top: 130px;
            }
            @include respond-to(large) {
                width: 960px;
                margin-left: -480px;
                top: 180px;
            }

            .sliderTitle,.sliderSubtitle{
                text-align: center !important;

            }
        }

        p{
            margin-top: 20px;
        }

    }



    .item2{ 
        background-image: url(imgs/slider/home02-sm.jpg);
        @include respond-to(small) {
           background-image: url(imgs/slider/home02-sm.jpg);
        }
        @include respond-to(medium) {
           background-image: url(imgs/slider/home02-md.jpg);
        }
        @include respond-to(large) {
            background-image: url(imgs/slider/home02.jpg);
        }

        .holderItems{
            // border: 1px solid white;
            text-align: center;
            top: 80px;
            @include respond-to(small) {
                top: 60px;
                margin-left: 10px; 
            }
            @include respond-to(medium) {
                width: 800px;
                margin-left: -400px;
                top: 140px;
            }
            @include respond-to(large) {
                width: 960px;
                margin-left: -480px;
                top: 180px;
            }
        }

    }



    .carousel-indicators {
        position: absolute;
        // top: 40px;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        width: 100%;
        margin-left: -50%;
        padding: 4px 0 2px 0;
        list-style: none;
        text-align: center;
        margin-top: 0px;
        height: 24px;
        background-color: transparent;
        // @include respond-to(small) {
        //     margin-top: -20px;
        // }
        // @include respond-to(medium) {
        //     margin-top: -30px;
        // }

        li {
            display: inline-block;
            width:  14px;
            height: 14px;
            text-indent: -999px;
            cursor: pointer;
            // background-color: $verde;
            margin-right: 5px;
            border: 2px solid white;
            border-radius: 50%;
        }
        .active {
            background-color: #fff;
        }
    }

    .carousel-control{
        opacity:1;
        top: 45%;
        background-repeat: no-repeat;
        width: 86px;
        height: 80px;
        transition:all 0.4s;
    }


    .carousel-control.right{
        background-image: url(imgs/ui/slider/btn-right.svg);
        background-position: right center;
        right: 40px;
        @include respond-to(small) {
                  
        }
        @include respond-to(medium) {
            
        }
        @include respond-to(large) {
        }
        &:hover{
            background-image: url(imgs/ui/slider/btn-right-hover.svg);
            right:20px;
        }   
    }

    .carousel-control.left{
        background-image: url(imgs/ui/slider/btn-left.svg);
        background-position: left center;
        left: 40px;
        @include respond-to(small) {
                  
        }
        @include respond-to(medium) {
            
        }
        @include respond-to(large) {
        }
        &:hover{
            background-image: url(imgs/ui/slider/btn-left-hover.svg);
            left:20px;
        }   
    }
}


.item1-negocios{ 
    background-image: url(imgs/slider/home02-sm.jpg);
    @include respond-to(small) {
       background-image: url(imgs/slider/home02-sm.jpg);
    }
    @include respond-to(medium) {
       background-image: url(imgs/slider/home02-md.jpg);
    }
    @include respond-to(large) {
        background-image: url(imgs/slider/home02.jpg);
    }
}

.item1-sdk{ 
    background-image: url(imgs/slider/sdk-sm.jpg);
    @include respond-to(small) {
       background-image: url(imgs/slider/sdk-sm.jpg);
    }
    @include respond-to(medium) {
       background-image: url(imgs/slider/sdk-md.jpg);
    }
    @include respond-to(large) {
        background-image: url(imgs/slider/sdk.jpg);
    }
}

.item1-publicidademovel,
.item1-publisher{ 
    background-image: url(imgs/slider/publicidademovel-sm.jpg);
    @include respond-to(small) {
       background-image: url(imgs/slider/publicidademovel-sm.jpg);
    }
    @include respond-to(medium) {
       background-image: url(imgs/slider/publicidademovel-md.jpg);
    }
    @include respond-to(large) {
        background-image: url(imgs/slider/publicidademovel.jpg);
    }
}

.item1-publicidademovel2{ 
    background-image: url(imgs/slider/publicidademovel2-sm.jpg);
    @include respond-to(small) {
       background-image: url(imgs/slider/publicidademovel2-sm.jpg);
    }
    @include respond-to(medium) {
       background-image: url(imgs/slider/publicidademovel2-md.jpg);
    }
    @include respond-to(large) {
        background-image: url(imgs/slider/publicidademovel2.jpg);
    }
}

.item1-quemsomos,
.item1-app{ 
    background-image: url(imgs/slider/quemsomos-sm.jpg);
    @include respond-to(small) {
       background-image: url(imgs/slider/quemsomos-sm.jpg);
    }
    @include respond-to(medium) {
       background-image: url(imgs/slider/quemsomos-md.jpg);
    }
    @include respond-to(large) {
        background-image: url(imgs/slider/quemsomos.jpg);
    }
}

.item1-home{
    background-image: url(imgs/slider/app-sm.jpg);
    @include respond-to(medium) {
       background-image: url(imgs/slider/app-md.jpg);
    }
    @include respond-to(large) {
        background-image: url(imgs/slider/app.jpg);
    }
}

.item1-anunciantes{ 
    background-image: url(imgs/slider/anunciantes-sm.jpg);
    @include respond-to(small) {
       background-image: url(imgs/slider/anunciantes-sm.jpg);
    }
    @include respond-to(medium) {
       background-image: url(imgs/slider/anunciantes-md.jpg);
    }
    @include respond-to(large) {
        background-image: url(imgs/slider/anunciantes.jpg);
    }
}


//conteudo sliders
.item1-home{
    .holderMainIcon{

        img{
            margin-right: 0;
            @include respond-to(small) {
                margin-right: 80px;   
            }
            @include respond-to(medium) {
                margin-right: 80px;
            }
        }
    }

    .holderSecondIcon{
        @include respond-to(small) {
            left: 80px;   
        }
        @include respond-to(medium) {
            left: 100px;
        }
        @include respond-to(large) {
            
        }
    }

}

.item1-negocios{
    .holderMainIcon{
        img{
            margin-right: 0;
            @include respond-to(medium) {
                margin-right: 20px;
            }
        }
    }
    .holderSecondIcon{ 
        bottom: 50px;
        left: 0px;      
        @include respond-to(small) {
        }
        @include respond-to(medium) {
            
        }
        @include respond-to(large) {
            
        }
    }
}

.item1-sdk{
    .holderMainIcon{
        img{
            margin-right: 0;
            @include respond-to(small) {
                margin-right: 30px;
                margin-top: 10px;
            }

            @include respond-to(medium) {
                margin-right: 30px;
                margin-top: 30px;
            }
        }
    }
    .holderSecondIcon{ 
        bottom: 50px;
        left: 0px;      
        @include respond-to(small) {
            left: 40px;
            top: 120px;
        }
        @include respond-to(medium) {
            left: 50px;
            top: 120px;
        }
        @include respond-to(large) {
            
        }
    }
}

.item1-publicidademovel,
.item1-publisher{

    // .holderItems{
    //     @include respond-to(large) {
    //         top: 130px;
    //     }
    // }

    .holderMainIcon{
        @include respond-to(small) {
            position: absolute;
            right: 70px;
        }
        @include respond-to(medium) {
            right: 140px;
            top: 80px;
        }
        @include respond-to(large) {
            
        }
    }
    .holderSecondIcon{ 
        // position: absolute;
        @include respond-to(small) {
            top: 122px;
            left: 60px;
        }
        @include respond-to(medium) {
            left: 130px;
            top: 150px;
        }
        @include respond-to(large) {
            
        }
    }
}

.item1-publicidademovel2{
    .holderMainIcon{
        @include respond-to(small) {
            position: absolute;
            right: 70px;
        }
        @include respond-to(medium) {
            right: 140px;
            top: 120px;
        }
    }
    .holderSecondIcon{ 
        @include respond-to(small) {
            top: 122px;
            left: 60px;
        }
        @include respond-to(medium) {
            left: 130px;
            top: 150px;
        }
    }
}

.item1-anunciantes{
    .holderMainIcon{
        img{
            @include respond-to(small) {
                margin-right: 50px;
            }
            @include respond-to(medium) {
                margin-right: 70px;
            }
        }
    }
    .holderSecondIcon{ 
        @include respond-to(small) {
            top: 110px;     
            left: 50px;
        }
        @include respond-to(medium) {
            top:initial;
            bottom: 64px;
            left: 70px;            
        }
    }
}

// ----------------------------------------
//          SOLUÇÕES
// ----------------------------------------
.plataforma,
.geofences,
.beacons,
.varejo, .hospitalidade, .evento, .financeiros,
.publishers{
    position: relative;
    margin: 40px auto;
}

.hospitalidade{
    background-color: $cinzaclaro;
    padding: 40px 0;
}

.plataforma{
    p{
        text-align: left;
        @include respond-to(small) {
            text-align: center;
        }
        @include respond-to(medium) {
            text-align: left;
        }
    }
}

.centerTablet{
    text-align: left;
    @include respond-to(small) {
        text-align: center;
    }
    @include respond-to(medium) {
        text-align: left;
    }
}

.centerMobile{
    text-align: center;
    @include respond-to(small) {
        text-align: center;
    }
    @include respond-to(medium) {
        text-align: left;
    }
}

.grafico01,
.grafico02,
.grafico03,
.grafico04{
    display: block;
    margin: 0 auto;
}

.grafico01{
    padding-top: 20px;
    padding-bottom: 20px;  
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        padding-top: 30px;
        padding-bottom: 0;
    }
    @include respond-to(large) {
        padding-top: 20px;
        
    }
}

.grafico02{
    padding-top: 20px;
    @include respond-to(small) {
    }
    @include respond-to(medium) {
        padding-top: 45px;
    }
    @include respond-to(large) {
        padding-top: 10px;
    }
}

.grafico03{
    padding-top: 20px;
    @include respond-to(small) {
    }
    @include respond-to(medium) {
        padding-top: 65px;
    }
    @include respond-to(large) {
        padding-top: 0px;
    }
}

.grafico04{
    padding-top: 20px;
    @include respond-to(small) {
    }
    @include respond-to(medium) {
        padding-top: 45px;
    }
    @include respond-to(large) {
        padding-top: 30px;
    }
}

.geofencesIcons{
    position: relative;
    width: 100%;
    background-color: $cinzaclaro;
    margin: 10px auto;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        padding-top: 30px;
    }
    @include respond-to(large) {
        padding-top: 0;
    }
}

.geofences{
    h3, p{
        text-align: center;
        @include respond-to(medium) {
            text-align: left;
        }
    }
    h3{
        color:$cinzaescuro;
    }
}

.rowGeofencesIcons,
.rowBooParticipacoes{
    margin-top: 30px;
    margin-bottom: 30px;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    @include respond-to(large) {
        
    }
}

.rowBooParticipacoes{
    h3{ transition: all 0.4s; }
}

.colGeofences{
    background-repeat: no-repeat;
    background-position: center top;
    // border:1px solid #ccc;
    // background-color: #ccc;
    display: block;
    margin-bottom: 50px;
    padding-top: 90px;
    @include respond-to(small) {
        margin-bottom: 40px;     
    }
    @include respond-to(medium) {
        background-position: 15px top;
    }
    @include respond-to(large) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.colGeofenceFlexivel{
    @extend .colGeofences;
    background-image: url(imgs/solucoes/icon_flexivel.svg);
}

.colGeofenceEscalavel{
    @extend .colGeofences;
    background-image: url(imgs/solucoes/icon_escalavel.svg);
}

.colGeofenceAlcance{
    @extend .colGeofences;
    background-image: url(imgs/solucoes/icon_alcance.svg);
}

.colGeofenceGerenciamento{
    @extend .colGeofences;
    background-image: url(imgs/solucoes/icon_gerenciamento.svg);
}


.paddingtopbottom{
    padding-top: 30px;
    padding-bottom: 30px;
}

.beaconsIcons{
    position: relative;
    width: 100%;
    // background-color: $cinzaclaro;
    text-align: center;
    padding: 40px 0;

    
    margin: 40px auto;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        margin: 10px auto;
    }
    @include respond-to(large) {
        
    }

    img{
        display: block;
        margin:20px auto;
        padding-top: 10px;    
        @include respond-to(small) {
        }
        @include respond-to(medium) {
            margin: 0 auto;
        }
        @include respond-to(large) {
            
        }

    }

    .iconBeacon{
       // background-color: $cinza;
       // border:8px solid white;

       @include respond-to(small) {
                 
       }
       @include respond-to(medium) {
           
       }
       @include respond-to(large) {
           // height: 140px;
       }
    }

    // .iconBeacon01{
    //     background-image: url(imgs/solucoes/icon_beacon01.svg);
    // }
}


.ico-seguranca{
    background-image: url(imgs/solucoes/icon-seguranca.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding:6px 0 6px 32px;
}


.ico-firmware{
    position: relative;
    top:initial;
    left:initial;
    margin: 0 0 5px 0;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        position: absolute;
        top: 15px;
        left: 270px;        
    }
    @include respond-to(large) {
        
    }
}


.bgCinzaInParallax{
    background-color: $cinzaclaro;
    padding: 20px 0;
}

.bgCinza{
    background-color: $cinzaclaro;
}

.experiencias{
    h4{
        margin-top: 0;
    }
}

.jarallax {
    position: relative;
    // background-position: 50% 50%;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 500px;
    // background-image: url(imgs/backgrounds/solucoes_experiencias.jpg);
}

.experienciasIcons{
    position: relative;
    width: 100%;
    margin: 0 auto;
    @include respond-to(medium) {
        margin: 0 auto;
        padding: 60px 0;
    }
    @include respond-to(large) {
        padding: 70px 0;
    }

    h5, p{
        text-align: center;
        color:white !important;
    }

    h5{
        margin-bottom: 2px;
        line-height: 1.5;
    }

    p{
        font-size: 13px;
        line-height: 1.3;
        // text-transform: uppercase;
    }
}

.rowExperienciasIcons,
.rowTeam{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    @include respond-to(small) {
    }
    @include respond-to(medium) {
        padding-top: 0;    
        margin-top: 20px;
        margin-bottom: 10px;
    }
    @include respond-to(large) {
        
    }
}

.rowTeam{
    h5{
        color: $verde !important;
    }

    a:link
}


.iconExp{
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    padding-top: 120px;
    margin-bottom: 40px;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        margin-bottom: 0;
        padding-top: 120px;
        padding-right: 35px;
        padding-left: 35px;
        
    }
    @include respond-to(large) {
    }
}

.iconExp01{
    @extend .iconExp;
    background-image: url(imgs/solucoes/icon_experiencias01.svg);
}

.iconExp02{
    @extend .iconExp;
    background-image: url(imgs/solucoes/icon_experiencias02.svg);
}

.iconExp03{
    @extend .iconExp;
    background-image: url(imgs/solucoes/icon_experiencias03.svg);
}

.iconExp04{
    @extend .iconExp;
    background-image: url(imgs/solucoes/icon_experiencias04.svg);
}


// ----------------------------------------
//          
// ----------------------------------------

.iconPub01{
    display: block;
    margin: 20px auto;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        
    }
    @include respond-to(large) {
        margin: 45px auto;
    }
}

.pubPlataformas{
    position: relative;
    width: 100%;
    // background-color: $cinzaclaro;
    padding: 30px 0;
    margin-bottom: 40px;
    background-size: cover;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        padding: 50px 0;
        
    }
    @include respond-to(large) {
    }

    h3,h5,p{
        text-align: center;
    }

}

.plat01{
    display: block;
    padding-top: 140px;
    background-image: url(imgs/publishers/plataforma01.svg);
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 50px;
    @include respond-to(medium) {
        margin-bottom: 0;
    }
}

.plat02{
    display: block;
    padding-top: 140px;
    background-image: url(imgs/publishers/plataforma02.svg);
    background-repeat: no-repeat;
    background-position: top center;
}

// ----------------------------------------
//          FINANCEIRO
// ----------------------------------------




// ----------------------------------------
//          ANUNCIANTES
// ----------------------------------------
.anunciantes{

    .outofhome{
        margin: 20px auto;
        @include respond-to(small) {
                  
        }
        @include respond-to(medium) {
            
        }
        @include respond-to(large) {
        }
    }


}

.oohFaixa{
    position: relative;
    width: 100%;
    // background-color: $cinzaclaro;
    padding: 30px 0;
    background-size: cover;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        padding: 50px 0;
        margin-bottom: 0;
        
    }
    @include respond-to(large) {
    }

    h4,p{
        text-align: center;
        color:white !important;
    }

}

.faixaPercent{
    position: relative;
    width: 100%;
    background-color: $cinza;
    padding: 20px 0;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        padding: 30px 0;
        
    }
    @include respond-to(large) {
    }

    h4{
        font-size: 16px;
        color:white;
        line-height: 1.5;
        letter-spacing: 3px;
        span{ 
            font-family: 'montserratthin' !important; 
            margin-top: 5px;
            @include respond-to(small) {
                
            }
            @include respond-to(medium) {
                padding-right: 40px;
                padding-left: 40px;
            }
            @include respond-to(large) {
                
            }
        }
    }

    .texto{
        @include respond-to(small) {
            
        }
        @include respond-to(medium) {
           // padding-right: 50px;
           // padding-left: 50px; 
        }
        @include respond-to(large) {
            
        }
    }
}

.counter{
    color:white;
    font-family: 'montserratbold';
    font-size: 50px;
}

.count01{
    padding-top: 0;
    @include respond-to(medium) {
        padding-top: 30px;
    }
    @include respond-to(large) {
        padding-top: 20px;
    }
}

.iconcounter01{
    display: block;
    padding-top: 10px;     
    @include respond-to(medium) {
        padding-top: 25px;
    }
    @include respond-to(large) {  
    }
}

.anunc01{
    display: block;
    margin: 10px auto;
    @include respond-to(medium) {
        margin: -10px auto 0 auto; 
    }
    @include respond-to(large) {
        margin: -30px auto 0 auto;
    }
}

.anunc02{
    display: block;
    margin: 10px auto;
    @include respond-to(medium) {
        margin: 0 auto 0 auto; 
    }
    @include respond-to(large) {
        margin: 0 auto;
    }
}

.iconAnunOthers{
    position: relative;
    margin: 0 auto;
    display: block;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        margin: 30px auto;
    }
    @include respond-to(large) {
        margin: 60px auto;
    }
}

.icon-cart{
    display: block;
    margin: 0 auto;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        
    }
    @include respond-to(large) {
        margin: 20px auto;
    }
}

// ----------------------------------------
//          NEWSLETTER
// ----------------------------------------
.newsletter{
    position: relative;
    background-color: $cinzaclaro;
    margin: 0 auto;
    width: 100%;
    padding: 40px 0;

    h3{
        text-align: center;
        color:$texto;
    }

    .form-control{
        border-radius:0px;
        border: 4px solid $cinza;
        height: 50px;
        transition: all 0.6s;
        &:focus{
            border:4px solid $verde;
            // background-color: $cinzaclaro;
        }
    }
}

.btnForm{
    border-radius:0px;
    border:4px solid $verde;
    // background-color: rgba(71,228,194,0.6);
    background-color: rgba(71,228,194,1);
    color:$cinzaescuro;
    font-family: 'montserratbold';
    text-transform: uppercase;
    font-size: 12px;
    transition:all 0.4s;
    margin: 0 auto;
    display: inline-block;
    &:hover{
        background-color: rgba(71,228,194,0.6);
    }

}


.btnContato{
    border-radius:0px;
    border: 0;
    background-color: transparent;
    background-image: url(imgs/ui/icon_contato.svg);
    background-position: left center;
    background-repeat: no-repeat;
    color:$texto;
    font-family: 'montserratbold';
    text-transform: uppercase;
    font-size: 18px;
    transition:all 0.4s;
    letter-spacing: 3px;
    margin: 0 auto;
    display: inline-block;
    padding: 4px 0 8px 58px;
    outline:none;
    text-align: left;
    &:hover{
        color:#ff6600;
    }

    span{
        font-family: 'montserratthin';
        display: block;
        letter-spacing: 0;
    }

}


// ----------------------------------------
//          VAREJO
// ----------------------------------------
.varejo{
    h4{
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.5;
    }
}

.iconVarejo01{
    display: block;
    margin: 10px auto 20px;
    @include respond-to(medium) {
        margin: 50px auto 27px; 
    }
}

.iconVarejo02{
    display: block;
    margin: 20px auto 20px;
    @include respond-to(medium) {
        margin: 5px auto 0; 
    }
    @include respond-to(large) {
        margin: -20px auto 0 auto; 
    }
}

.iconVarejo03{
    display: block;
    margin: 20px auto 20px;
    @include respond-to(medium) {
        margin: 50px auto 0; 
    }
    @include respond-to(large) {
        margin: 5px auto 0; 
    }
}

.iconVarejo04{
    display: block;
    margin: 20px auto 20px;
    @include respond-to(medium) {
        margin: 50px auto 0; 
    }
    @include respond-to(large) {
        margin: 5px auto 0; 
    }
}


.iconFin{
    background-position: center top;
    background-repeat: no-repeat;
    // display: block;
    padding-top: 120px;
    margin-bottom: 40px;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        margin-bottom: 0;
        padding-top: 120px;
        padding-right: 35px;
        padding-left: 35px;
    }
    @include respond-to(large) {

    }
}

.iconFin01{
    @extend .iconFin;
    background-image: url(imgs/negocios/icon_financ01.svg);
}

.iconFin02{
    @extend .iconFin;
    background-image: url(imgs/negocios/icon_financ02.svg);
}

.iconFin03{
    @extend .iconFin;
    background-image: url(imgs/negocios/icon_financ03.svg);
}



.rowLocalizacao{
    margin: 60px 0;
}

.rowLocalizacaoAnunc{
    margin: 20px 0 40px 0;
}

.iconLocalz01{
    display: block;
    margin: 10px auto;
    @include respond-to(medium) {
        margin: 0 auto; 
    }
}

.iconLocalz02{
    display: block;
    margin: 10px auto;
    @include respond-to(medium) {
        margin: 0 auto; 
    }
}


.rowLocalizacao,
.rowLocalizacaoAnunc{

    ul{
        
        padding: 0;

        li{
            list-style: none;
            font-family: 'montserratregular';
            text-transform: uppercase;
            color:$texto;
            display: block;
            font-size: 14px;
            margin-bottom: 8px;
            text-align: center;
            @include respond-to(small) {
                      
            }
            @include respond-to(medium) {
                font-size: 16px;
                margin-bottom: 10px;
                text-align: left;
            }
            @include respond-to(large) {
                
            }
        }
    }
}


ul.ulsdk{
    margin-top: 5px;
    li{
        font-family: 'montserratbold' !important;
        text-transform: none;
        font-size: 14px;
        margin-bottom: 22px;
        background:url(imgs/ui/tique.svg) no-repeat center top;
        padding-top: 16px;
        @include respond-to(small) {
                  
        }
        @include respond-to(medium) {
            padding-left: 24px;
            padding-top: 0;
            background:url(imgs/ui/tique.svg) no-repeat left center; 
        }
        @include respond-to(large) {
            
        }
    }
}

.iconSolucao01{
    display: block;
    margin: -10px auto 20px auto;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        
    }
    @include respond-to(large) {
        margin: -10px auto 0 auto;
    }
}

.feat1{
    margin: 20px 0 0 0;
    @include respond-to(medium) {
        margin: 20px 0 0 0;
    }

}

.feat2{
    margin: 20px 0 0 0;
    @include respond-to(medium) {
        margin: 80px 0 0 0; 
    }
}

.feat3{
    margin: 20px 0 0 0;
    @include respond-to(medium) {
        margin: 40px 0 0 0; 
    }
}

.eventos{
    h4 {
        padding-right: 38px;
        background-image: url(imgs/negocios/icone-vip.svg);
        background-repeat: no-repeat;
        height: 28px;
        display: block;
        padding-top: 5px;
        background-position: right top;
        text-align: left;
        @include respond-to(small) {
            background-position: 500px top;
            text-align: center;  
        }
        @include respond-to(medium) {
            display: inline-block;
            background-position: right top;
            text-align: left;
        }
        @include respond-to(large) {
            
        }
    }
}



// ----------------------------------------
//          booParticipações
// ----------------------------------------

.booParticipacoes,
.booGrandesDesafios{
    position: relative;
    width: 100%;
    background-color: $cinzaclaro;
    margin: 0 auto;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        padding-top: 30px;
    }
    @include respond-to(large) {
        padding-top: 20px;
    }

    h2{
        margin-bottom: 8px;
    }
}

.booMenu{
    position: relative;
    width: 100%;
    height:auto;
    margin-top: 2px;
    overflow: hidden;
    @include respond-to(small) {
        height: 260px;
        
    }
    @include respond-to(medium) {
        height: 320px;
        
    }
    @include respond-to(large) {
        height: 400px;
        
    }

    ul{
        margin: 0;
        padding: 0;
        height: inherit;

        li{
            list-style: none;
            display: block;
            width: 100%;
            float: none;
            height: inherit;
            box-sizing: border-box;
            overflow: hidden;
            @include respond-to(small) {
                float: left;
                width: 33%;

            }
            @include respond-to(medium) {
            }
            @include respond-to(large) {
                
            }

            .seta{

                background-image: url(imgs/ui/seta_menu.svg);
                background-repeat: no-repeat;
                background-position: center center;
                display: block;
                width: inherit;
                height: 58px;
                position: absolute;
                bottom: -60px;
                // border:1px solid yellow;
                transition: all 0.4s;
            }

            .showarrow{
                @include respond-to(small) {
                    bottom: -30px;
                    
                }
                @include respond-to(medium) {
                    bottom: -10px;
                    
                }
                @include respond-to(large) {
                    
                }
            }

            .li_mb{
                display: block;
                height: 100%;
                font-family: 'montserratbold';
                color:white;
                text-transform: uppercase;
                font-size: 15px;
                line-height: 1.3;
                letter-spacing: 2px;
                text-align: center;
                background-repeat: no-repeat;
                transition:all 0.3s;
                background-color: $roxo;
                text-decoration: none;
                background-size: 0% 0%;
                padding: 15px 0;
                border-bottom: 1px solid white;
                border-right:none;

                @include respond-to(small) {
                    background-size: 27% 27%;
                    padding: 160px 0 0 0;
                    background-position: center 70px;
                    border-right:2px solid white;
                    border-bottom:none;
                }
                @include respond-to(medium) {
                    padding: 190px 0 0 0;
                    background-position: center 80px;
                }
                @include respond-to(large) {
                    padding: 250px 0 0 0;
                    background-position: center 110px;
                }
            }

            // a:link,
            // a:visited{
                
            //     &:hover{
                    
            //     }
            // }

            a.mb_local:link,
            a.mb_local:visited{
                @extend .li_mb;
                background-image:url(imgs/ui/boomenu_local.svg);
                &:hover{
                    background-color: $verde;
                    background-size: 0% 0%;
                    @include respond-to(small) {
                        background-size: 30% 30%;
                    }
                    @include respond-to(medium) {
                        background-position: center 75px;
                    }
                    @include respond-to(large) {
                        background-position: center 105px;
                        
                    }
                }
            }

            a.mb_app:link,
            a.mb_app:visited{
                @extend .li_mb;
                background-image:url(imgs/ui/boomenu_app.svg);
                &:hover{
                    background-color: $verde;
                    background-size: 0% 0%;
                    @include respond-to(small) {
                        background-size: 30% 30%;
                    }
                    @include respond-to(medium) {
                        background-position: center 75px;
                    }
                    @include respond-to(large) {
                        background-position: center 105px;
                        
                    }
                }
            }

            a.mb_pub:link,
            a.mb_pub:visited{
                @extend .li_mb;
                background-image:url(imgs/ui/boomenu_publicidade.svg);
                border-right:none;
                &:hover{
                   background-color: $verde;
                   background-size: 0% 0%;
                    @include respond-to(small) {
                        background-size: 30% 30%;
                    }
                    @include respond-to(medium) {
                        background-position: center 75px;
                    }
                    @include respond-to(large) {
                        background-position: center 105px;
                        
                    }
                }
            }


        }

        li.last{
            width: 100%;
            @include respond-to(small) {
                width: 34%;
            }
            @include respond-to(medium) {
                
            }
            @include respond-to(large) {
                
            }
        }
    }


}

.colParticipacoes{
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    margin-bottom: 50px;
    padding-top: 140px;
    text-align: center;
    @include respond-to(small) {
        margin-bottom: 40px;     
        margin-top: 30px;
    }
    @include respond-to(medium) {
        margin-top: 30px;
    }
    @include respond-to(large) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.colPartLocalizacao{
    @extend .colParticipacoes;
    background-image: url(imgs/quemsomos/icon-localizacao.svg);
}

.colPartApp{
    @extend .colParticipacoes;
    background-image: url(imgs/quemsomos/icon-app.svg);
}

.colPartPublicidade{
    @extend .colParticipacoes;
    background-image: url(imgs/quemsomos/icon-publicidade.svg);
}

.team{
    position: relative;
    margin: 40px auto 0 auto;
    h2{ color: white; }

    h5{
        font-size: 18px;
        text-transform: none;
    }

    p{
        font-family: 'montserratlight';
        font-size: 14px;
    }
}
.cargo{
    color: white;
    font-family: 'montserratthin';
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    letter-spacing: 2px;
}

.iconTeam{
    background-image: url(imgs/quemsomos/icon-team.svg);
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 140px;
    margin-bottom: 40px;
    text-align: center;
    @include respond-to(medium) {
        margin-bottom: 60px;
        padding-right: 35px;
        padding-left: 35px;
    }
}

.emailOnGreen:link,
.emailOnGreen:visited{
    display: inline-block;
    color:$cinzaescuro;
    text-decoration: underline;
    font-family: 'montserratlight';
    &:hover{

    }
}

.emailOnPurple:link,
.emailOnPurple:visited{
    display: inline-block;
    color: $verde;
    text-decoration: underline;
    font-family: 'montserratlight';
    transition: all 0.4s;
    &:hover{
        color:white;
    }
}


.booFornece{
    position: relative;
    margin: 80px auto 40px;

    img{
        display: block;
        margin:0 auto 50px auto;
        @include respond-to(small) {
            
        }
        @include respond-to(medium) {
            margin:0 0 50px 0;
            
        }
        @include respond-to(large) {
            
        }
    }

    h6{
        margin-top: 20px;
    }

    h4{
        @include respond-to(small) {
        }
        @include respond-to(medium) {
            letter-spacing: 8px;
            margin: 30px 0;
        }
        @include respond-to(large) {
            letter-spacing: 12px;
            
        }
    }

    .appImage{
        display: block;
        margin: 0 auto;
    }

    .centerMobile{
        @include respond-to(small) {
                  
        }
        @include respond-to(medium) {
            padding-left: 10px;
            
        }
        @include respond-to(large) {
            padding-left: 60px;
        }
    }

}

// ----------------------------------------
//          SDK
// ----------------------------------------

.valorDados{
    position: relative;
    width: 100%;
    margin: 0 auto;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        padding-top: 30px;
    }
    @include respond-to(large) {
        padding-top: 20px;
    }

    h2{
        text-transform: none;
    }

    h6{
        line-height: 1.7;
        font-size: 15px;
        letter-spacing: 2px;

        @include respond-to(small) {
            
        }
        @include respond-to(medium) {
            line-height: 2;
            font-size: 16px;
            letter-spacing: 2px;
            
        }
        @include respond-to(large) {
            
        }
    }
}

.rowSdk{
    margin-top: 30px;
    margin-bottom: 30px;
    @include respond-to(medium) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.colSdk{
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    margin-bottom: 50px;
    padding-top: 130px;
    text-align: center;
    @include respond-to(small) {
        margin-bottom: 40px;     
        margin-top: 30px;
    }
    @include respond-to(medium) {
        margin-top: 30px;
    }
    @include respond-to(large) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.colSdkIcon1{
    @extend .colSdk;
    background-image: url(imgs/sdk/icon-app1.svg);
}

.colSdkIcon2{
    @extend .colSdk;
    background-image: url(imgs/sdk/icon-app2.svg);
}

.colSdkIcon3{
    @extend .colSdk;
    background-image: url(imgs/sdk/icon-app3.svg);
}

.thumbnail{
    border: 5px solid $cinzaclaro;
    border-radius:0;
    padding: 0;
}


.gimbaeboo{
    position: relative;
    width: 100%;
    margin: 0 auto;
    @include respond-to(medium) {
        padding-top: 30px;
    }
    @include respond-to(large) {
        padding-top: 20px;
    }

    h2{
        span{
            font-family: 'montserratthin';
            font-size: 16px;
            color:$texto;
            text-transform: none;
            letter-spacing: 1px;
        }
    }
}

.grafico{
    position: relative;
    // border:1px solid blue;
    width: 95%;
    margin: 0 auto 40px auto;  
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center 40px;
        background-image: url(imgs/sdk/gimbaleboo3.svg);
        height: 550px;
    }
    @include respond-to(large) {
        background-position: center 60px;
        height: 600px;
        
    }
}

.quad{
    border:0;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        
    }
    @include respond-to(large) {
        
    }
}

.quad1{
    @extend .quad;
    position: relative;
    @include respond-to(small) {
    }
    @include respond-to(medium) {
        position: absolute;
        top: 0px;  
        width: 370px;
        text-align: left;
    }
    @include respond-to(large) {
        width: 330px;
    }
}

.quad2{
    @extend .quad;
    position: relative;
    @include respond-to(small) {
    }
    @include respond-to(medium) {
        position: absolute;
        top: 0px; 
        right: 0; 
        width: 370px;
        text-align: right;
    }
    @include respond-to(large) {
        width: 330px;
    }
}

.quad3{
    @extend .quad;
    position: relative;
    @include respond-to(small) {
    }
    @include respond-to(medium) {
        position: absolute;
        bottom: 0px; 
        left: 0; 
        width: 280px;
        text-align: left;
    }
    @include respond-to(large) {
        width: 330px;
    }
}

.quad4{
    @extend .quad;
    position: relative;
    @include respond-to(small) {
    }
    @include respond-to(medium) {
        position: absolute;
        bottom: 0px; 
        right: 0; 
        width: 270px;
        text-align: right;
    }
    @include respond-to(large) {
        width: 330px;
    }
}

.gimbalbooImg{
    margin: 20px auto;
    // display: block;
}

// ----------------------------------------
//          PUBLICIDADE MÓVEL
// ----------------------------------------

.mobileMajority{
    position: relative;
    margin: 40px auto;
    h4{
        line-height: 1.5;
    }

    h6{
        line-height: 1.7;
        font-size: 15px;
        letter-spacing: 2px;

        @include respond-to(small) {
            
        }
        @include respond-to(medium) {
            line-height: 2;
            font-size: 16px;
            letter-spacing: 2px;
            
        }
        @include respond-to(large) {
            
        }
    }

    .grafico01{
        padding-top: 20px;
        padding-bottom: 20px;  
    }

    .holderGrafico{
        float: right;
        width: 380px;
        margin: 10px 0 20px 10px;
    }
}

ul.paragraph{
    margin: 6px 0 18px 0;
    padding: 0;
    li{
        list-style: none;
        margin-bottom: 2px;
        color:$texto;
        // font-family: 'sanfrancisco';
        font-family: 'montserratbold';
        font-size: 14px;
        font-weight: bold;
    }
}

.valor{
    h2{
        color:white;
        margin-bottom: 15px;
    }
}

.valorIcons{
    padding: 40px 0;
    p{
        color:white;
    }

    h5{
        text-align: center;
        color:white;
        padding-top: 10px;
    }

    .rowExperienciasIcons{
        text-align: center;
    }
}

.iconValor01{
    @extend .iconExp;
    background-image: url(imgs/publicidademovel/iconpb01.svg);
}

.iconValor02{
    @extend .iconExp;
    background-image: url(imgs/publicidademovel/iconpb02.svg);
}

.iconValor03{
    @extend .iconExp;
    background-image: url(imgs/publicidademovel/iconpb03.svg);
}


.modal{

    

    .modal-header{
        background-color: $verde;
    }

    .modal-content{
        border-radius:0px;
    }

    p{
        font-family: 'sanfrancisco'; 
    }

    label{
        font-family: 'montserratbold';
        color:$texto;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 2px;
    }

    .form-control{
        border-radius:0px;
        outline:none;
        border:2px solid #ededed;
        transition:all 0.4s;
        font-family: 'sanfrancisco';
        font-size: 15px;
        color:$texto;
        box-shadow: none;
        &:focus{
            transition:all 0.4s;
            box-shadow: none;
            border: 2px solid $verde;
        }
    }
}

.modal-backdrop{
    z-index: 0;
}


// ----------------------------------------
//          APP
// ----------------------------------------
.booGrandesDesafios{
    position: relative;
    width: 100%;
    padding-bottom: 30px;
    h2{
        text-transform: none;
        text-align: center;

        span{
            font-family: 'montserratthin';
            display: inline-block;
            text-transform: none;
            font-size: 22px;
            margin-left: 0px;
            margin-bottom: 25px;
            @include respond-to(small) {
                margin-left: 30px;
                
            }
            @include respond-to(medium) {
                font-size: 24px;
                margin-bottom: 0;
                
            }
            @include respond-to(large) {
                
            }
        }
    }

}

.colSubsection{
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    margin-bottom: 50px;
    padding-top: 100px;
    text-align: center;
    @include respond-to(small) {
        margin-bottom: 40px;     
        margin-top: 30px;
    }
    @include respond-to(medium) {
        margin-top: 30px;
    }
    @include respond-to(large) {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    p{
        @include respond-to(small) {
            
        }
        @include respond-to(medium) {
            padding: 0 10px;
            
        }
        @include respond-to(large) {
            padding: 0 20px;
            
        }
    }
}

.mais{
    width: 18px;
    height: 18px;
    background-image: url(imgs/app/mais.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    display: block;
    margin: 25px auto 0 auto;
    @include respond-to(small) {
        
    }
    @include respond-to(medium) {
        position: absolute;
        right: 0;
        top: 30px;
        background-position: 0 0;
        
    }
    @include respond-to(large) {
        
    }

}

.igual{
    width: 18px;
    height: 18px;
    background-image: url(imgs/app/igual.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    display: block;
    margin: 25px auto 0 auto;
    @include respond-to(small) {
        
    }
    @include respond-to(medium) {
        position: absolute;
        right: 0;
        top: 30px;
        background-position: 0 0;
        
    }
    @include respond-to(large) {
        
    }
}

.colDesafio1{
    @extend .colSubsection;
    background-image: url(imgs/app/icon-app1.svg);
    .mais{
        @include respond-to(small) {
            
        }
        @include respond-to(medium) {
            right: -20px;   
        }
    }
}

.colDesafio2{
    @extend .colSubsection;
    background-image: url(imgs/app/icon-app2.svg);
}

.colDesafio3{
    @extend .colSubsection;
    background-image: url(imgs/app/icon-app3.svg);
}

.colDesafio4{
    @extend .colSubsection;
    background-image: url(imgs/app/icon-app4.svg);
}


.imgExperiences{
    position: relative;
    margin: 40px auto 0 auto;
}

.appParalax{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    @include respond-to(medium) {
    }
    @include respond-to(medium) {
        margin: 0 auto;
        padding: 30px 0;
        height: 600px;
    }
    @include respond-to(large) {
        padding: 30px 0;
    }

    p{
        color:white;
        font-family: 'montserratlight';
        font-size: 13px;
        line-height: 2.2;
        text-shadow: rgba(0, 0, 0,0.7 ) 0px 0px 10px;
        letter-spacing: 2px;
        text-align: center;
        @include respond-to(small) {
            
        }
        @include respond-to(medium) {
            text-align: left;
        }
        @include respond-to(large) {
            
        }
    }

    .row{
        position: relative;
    }
    
}
.content1{
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    @include respond-to(small) {
        
    }
    @include respond-to(medium) {
        
        padding: 180px 0 0 0;
        margin: 0;
        width: 400px;
    }
}

.content2{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
    top:initial;
    right:initial;
    @include respond-to(small) {
        
    }
    @include respond-to(medium) {
        position: absolute;
        top: 180px;
        right: 10px;
        padding: 0;
        // margin: 0;
        width: 350px;
    }
}


.contentParallax2{
    padding: 50px 0 30px 0;
    @include respond-to(medium) {
        padding: 50px 0 0 0;  
    }
    p{
        font-size: 15px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        @include respond-to(medium) {
            padding-top: 40px;
            letter-spacing: 3px;
            line-height: 2.8; 
            text-align: left;
            width: 100%;           
        }
        @include respond-to(large) {
            padding-top: 60px;
        }
    }
}

.contentParallax3{
    padding: 50px 0 30px 0;
    @include respond-to(medium) {
        padding: 160px 0 0 0;   
    }
    p{
        font-size: 15px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        @include respond-to(medium) {
            padding-top: 40px;
            padding-right: 204px;         
            letter-spacing: 3px;
            line-height: 2.8; 
            text-align: left;
            width: 90%;  
        }
        @include respond-to(large) {
            padding-top: 30px;
            padding-right: 80px;
        }
    }

}


.iconImgApp{
    display: block;
    margin: 0 auto 20px auto;
    @include respond-to(small) {
        
    }
    @include respond-to(medium) {
        margin: 0 auto;
    }
    @include respond-to(large) {
        
    }
}

// .iconImgAppBeacon{
//     display: block;
//     margin: 0 auto 20px auto;
//     @include respond-to(small) {
        
//     }
//     @include respond-to(medium) {
//         text-align: right;
//     }
//     @include respond-to(large) {
        
//     }
// }

.ImgApp2{
    display: block;
    margin: 40px auto 20px auto;
    @include respond-to(small) {
        
    }
    @include respond-to(medium) {
        margin: 0 auto;
    }
    @include respond-to(large) {
        
    }
}


.viagens{
    position: relative;
    margin: 40px auto;

    h6{
        line-height: 2;
    }
}

.rowCell{
    position: relative;
    margin: 20px auto 0 auto;
    img{
        display: block;
        margin: 0 auto ;
    }
}

.cellText{
    padding-top: 20px;
    text-align: center;
    padding-left: 0;
    @include respond-to(small) {
        
    }
    @include respond-to(medium) {
        padding-top: 110px;
        text-align: left;
        padding-left: 30px;
    }
    @include respond-to(large) {
        
    }


    h4{
        font-size: 15px;
    }

    .h61{
        letter-spacing: 0;
        @include respond-to(small) {
            letter-spacing: 3px;   
        }
    }

    .h41{
        letter-spacing: 0;
        @include respond-to(small) {
            letter-spacing: 12px;   
        }
    }

    .h42{
        letter-spacing: 0;
        @include respond-to(small) {
            letter-spacing: 2px;   
        }
    }

    // .h62{
    //     letter-spacing: 1px;
    //  @include respond-to(small) {
    //         letter-spacing: 3px;   
    //     }
    // }
}


// ----------------------------------------
//          BLOG
// ----------------------------------------
.blogHeader{
    position: relative;
    width: 100%;
    padding: 30px 0;
    margin-bottom: 60px;
    background-size: cover;
        height: 300px;
    @include respond-to(small) {
              
    }
    @include respond-to(medium) {
        height: 370px;
        
    }
    @include respond-to(large) {
        height: 460px;
    }
}



.post{
    position: relative;
    margin: 0 auto 30px auto;
    padding: 0 10px;
    @include respond-to(small) {
        padding: 0 20px;
    }
    @include respond-to(medium) {
        padding: 0;
    }
    @include respond-to(large) {
        
    }

    .postImg{
        margin: 0 auto 10px auto;
        display: block;
        border: 5px solid $cinzaclaro;
        width: 100%;
    }

    .postImgMt{
        margin-top: 5px;
    }

    .data{
        color:$cinza;
        display: block;
        font-family: 'montserratlight';
        font-size: 14px;
    }

    .publisher{
        color:$cinza;
        display: block;
        font-family: 'montserratlight';
        font-size: 14px;
        margin-bottom: 7px;

        a:link,a:visited{
            // font-family: 'montserratbold';
            color:$cinza;
            text-decoration: none;
            transition:all 0.4s;
            &:hover{
                color:$verde;
            }
        }
    }

    .holderCateg{
        display: block;
        margin: 5px 0 15px 0;
        a.categoria:link,
        a.categoria:visited{
            color:white;
            background-color: $verde;
            font-family: 'montserratlight';
            font-size: 13px;
            padding: 2px 13px;
            border-radius: 20px;
            display: inline-block;
            margin-right: 2px;
            text-decoration: none;
            transition:all 0.4s;
            &:hover{
                background-color: $cinzaescuro;
            }
        }
    }

    p{
        font-size: 16px;
        line-height: 1.6;
    }

    .lerMais:link,
    .lerMais:visited{
        font-size: 16px;
        line-height: 1.6;
        text-decoration: underline;
        color:$verde;
        font-style: italic;
    }

    ul {
        li{ 
            font-family: sanfrancisco;
            font-size: 16px;
            line-height: 1.6;
            color:$cinzaescuro;
        }
    }

}


a.verTodos:link,
a.verTodos:visited{
    color:white;
    background-color: $roxo;
    font-family: 'montserratlight';
    font-size: 13px;
    padding: 2px 13px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 2px;
    text-decoration: none;
    transition:all 0.4s;
    display: inline-block;
    &:hover{
        background-color: $cinzaescuro;
    }
}

blockquote{
    border-left:8px solid $verde;
    background-color: #f5f5f5;
    font-style: italic;
    color:$cinzaescuro;
    font-size: 16px;
    padding: 23px 20px 23px 30px;
    margin: 15px auto;
    font-family: 'montserratthin';

    span.author{
        display: block;
        font-family: 'montserratlight';
        font-size: 15px;
        margin-top: 10px;
        margin-left: 0px;
    }

    span.subauthor{
        display: block;
        font-family: 'montserratlight';
        font-size: 12px;
        margin-top: 0px;
        margin-left: 0px;
    }
}

.postTitle:link,
.postTitle:visited{
    display: block;
    text-transform: uppercase;
    color:$texto;
    font-size: 20px;
    font-family: 'montserratbold';
    text-decoration: none;
    transition:all 0.4s;
    line-height: 1.3;
    margin-bottom: 1px;
    &:hover{
        color:$verde;
    }
}

.postTitle-title{
    display: block;
    text-transform: uppercase;
    color:$texto;
    font-size: 20px;
    font-family: 'montserratbold';
    text-decoration: none;
    transition:all 0.4s;
    line-height: 1.3;
    margin-bottom: 1px;
}

.pagination>li>a, .pagination>li>span{
    color:$cinza;
    transition:all 0.4s;
}

.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover{
    color:white;
    background-color: $verde;
}


// ----------------------------------------
//          FOOTER
// ----------------------------------------

.backtotop:link,
.backtotop:visited{
    width: 62px;
    height: 62px;
    text-indent: -9999px;
    background-image:url(imgs/ui/backtotop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    position: fixed;
    bottom: 62px;
    right: 30px;
    z-index: 100;
    transition:all 0.6s;
    &:hover{
        background-image:url(imgs/ui/backtotop-hover.svg);
    }
}

footer{
    position: relative;
    background-color: black;
    background-color: $cinzaescuro;
    margin: 0 auto;
    padding: 20px 0 30px 0;
    @include respond-to(small) {
        
    }
    @include respond-to(medium) {
        
    }
    @include respond-to(large) {
        
    }

    .container{
        position: relative;
    }

    // .col-left{
    //     border: 1px solid red;
    //     float: none;
    //     @include respond-to(small) {
    //        float: left;       
    //     }
    //     @include respond-to(medium) {
            
    //     }
    //     @include respond-to(large) {
            
    //     }
    // }

    // .col-right{
    //     border: 1px solid yellow;
    //     float: right;
    //     @include respond-to(small) {
                  
    //     }
    //     @include respond-to(medium) {
    //         margin-top: 30px;
    //     }
    //     @include respond-to(large) {
            
    //     }
    // }
    
    .footerMenu{
        display: none;
        @include respond-to(small) {
            display: block;    
        }
        @include respond-to(medium) {
            float: left;
        }
        @include respond-to(large) {
            
        }
    }

    .footerLogo{
        // border:1px solid red;
        width: 100%;
        float: none;
        position: relative;
        // margin: 0 auto;
        // display: block;
        text-align: center;
        @include respond-to(small) {
            text-align: left;
            width: 60px;
            float: left;
            margin: 0 35px 0 0;
        }
        @include respond-to(medium) {
        }
        @include respond-to(large) {
        }

        // img{ display: block; }
    }

    ul.footerBoo, ul.footerGimbal{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            display: inline-block;
        }
    }

    ul.footerBoo li{
        margin: 20px 20px 20px 0;
        letter-spacing: 1px;

        a:link,a:visited{
            transition:all 0.4s;
            color:white;
            font-size: 12px;
            font-family: 'montserratthin';
            text-transform: none;
            text-decoration: none;
            &:hover{
                color:$roxo;
            }
        }
    }


    ul.footerGimbal li{
        letter-spacing: 2px;
        font-size: 11px;
        @include respond-to(small) {
            margin-right: 20px;      
        }
        @include respond-to(medium) {
            letter-spacing: 3px;
            font-size: 13px;            
        }
        a:link,a:visited{
            transition:all 0.4s;
            color:white;
            font-family: 'montserratbold';
            text-transform: uppercase;
            text-decoration: none;
            &:hover{
                color:$verde;
            }
        }
    }

    .copyrights{
        // border:1px solid blue;
        text-align: center;
        list-style: none;
        margin-top: 10px;
        @include respond-to(small) {
                  
        }
        @include respond-to(medium) {
            text-align: left;
            margin-top: 30px;
        }
        @include respond-to(large) {
            
        }

        li{
            list-style: none;
            display: inline;
            color:white;

            font-family: 'sanfrancisco';
            font-size: 11px;
            margin-top: 4px;
            img{
                margin: -4px 6px 0 -5px;
                @include respond-to(small) {
                          
                }
                @include respond-to(medium) {
                    margin: -4px 6px 0 -40px;
                }
                @include respond-to(large) {
                    
                }
            }

            span{
                color:white;
                font-family: 'montserratthin';
                font-size: 14px;
                display: inline-block;
                margin-bottom: 10px;
                margin-right: 30px;
                @include respond-to(small) {
                }
                @include respond-to(medium) {
                    margin-right: 30px;
                    margin-bottom: 0;
                    
                }
                @include respond-to(large) {
                    
                }
            }

            p{
                color:white;
                display: block;
                font-size: 11px;
                font-family: 'sanfrancisco';
                margin: 0;
                padding: 0;
                margin-left: -46px;
                @include respond-to(small) {
                }
                @include respond-to(medium) {
                    display: inline;
                    margin-left: 0;
                }
                @include respond-to(large) {
                    
                }
            }
        }

    }


    ul.footerRedes{
        // border:1px solid yellow;
        margin: 30px 0;
        padding: 0;
        position: relative;
        display: block;
        text-align: center;
        @include respond-to(small) {
            // margin: 30px 0;
        }
        @include respond-to(medium) {
            margin: 0;
            position: absolute;
            right: 0;
            top: 10px;
        }

        li{
            list-style: none;
            display: inline;
            margin-right: 10px;
            a{
                width: 34px;
                height: 34px;
            }
        }
        li:last-child{
            margin-right: 0;
        }
        
    }

    ul.footerTerms{
        margin: 0 auto;
        padding: 0;
        text-align: center;
        // border:1px solid red;
        position: relative;
        @include respond-to(small) {
                  
        }
        @include respond-to(medium) {
            position: absolute;
            top:117px;
            right: -5px;
        }
        @include respond-to(large) {
            
        }

        li{
            list-style: none;
            display: inline;
            margin-right: 10px;
            
            a:link,a:visited{
                color:white;
                font-family: 'sanfrancisco';
                font-size: 11px;
                text-decoration: none;
                transition:all 0.4s;
                &:hover{
                    color:$verde;
                }
            }
        }

    }

}


#resposta{
    position: absolute;
    top: 10px;
    left: 10px;    
    font-size: 14px;
    background-color: $verde;
    color:#fff;
    margin-bottom: 10px;
    padding: 5px 10px;
    display: none;
}


