/*
Theme Name: Boo
Author: Tela Plana
Version: 1.0
*/
@import url("https://www.fontify.me/wf/5e566925b513dd4d658a8a13d6541617");
.breakpoint { position: fixed; top: 0; left: 0; padding: 0 10px; height: 20px; z-index: 99999; color: white; background-color: yellow; }

@media (min-width: 720px) { .breakpoint { background-color: orange; } }

@media (min-width: 992px) { .breakpoint { background-color: red; } }

@media (min-width: 1200px) { .breakpoint { background-color: blue; } }

.breakpoint p::before { content: "xs"; }

@media (min-width: 720px) { .breakpoint p::before { content: "sm"; } }

@media (min-width: 992px) { .breakpoint p::before { content: "md"; } }

@media (min-width: 1200px) { .breakpoint p::before { content: "lg"; } }

@font-face { font-family: 'montserratbold'; src: url("fonts/montserrat-bold-webfont.eot"); src: url("fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-bold-webfont.woff2") format("woff2"), url("fonts/montserrat-bold-webfont.woff") format("woff"), url("fonts/montserrat-bold-webfont.ttf") format("truetype"), url("fonts/montserrat-bold-webfont.svg#montserratbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'montserratthin'; src: url("fonts/montserrat-thin-webfont.eot"); src: url("fonts/montserrat-thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-thin-webfont.woff2") format("woff2"), url("fonts/montserrat-thin-webfont.woff") format("woff"), url("fonts/montserrat-thin-webfont.ttf") format("truetype"), url("fonts/montserrat-thin-webfont.svg#montserratthin") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'montserratlight'; src: url("fonts/montserrat-light-webfont.eot"); src: url("fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-light-webfont.woff2") format("woff2"), url("fonts/montserrat-light-webfont.woff") format("woff"), url("fonts/montserrat-light-webfont.ttf") format("truetype"), url("fonts/montserrat-light-webfont.svg#montserratlight") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'montserratregular'; src: url("fonts/montserrat-regular-webfont.eot"); src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat-regular-webfont.ttf") format("truetype"), url("fonts/montserrat-regular-webfont.svg#montserratregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'sanfrancisco'; src: url("fonts/sanfranciscodisplay-regular-webfont.eot"); src: url("fonts/sanfranciscodisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sanfranciscodisplay-regular-webfont.woff2") format("woff2"), url("fonts/sanfranciscodisplay-regular-webfont.woff") format("woff"), url("fonts/sanfranciscodisplay-regular-webfont.ttf") format("truetype"), url("fonts/sanfranciscodisplay-regular-webfont.svg#san_francisco_displayregular") format("svg"); font-weight: normal; font-style: normal; }

html, body { margin: 0; padding: 0; background-color: transparent; }

body { position: relative; }

p { font-family: sanfrancisco; color: #545E65; font-size: 16px; line-height: 1.5; }

@media (min-width: 992px) { p { font-size: 15px; } }

h1 { font-family: 'ralewaymedium'; color: #231F20; font-size: 16px; margin: 0; letter-spacing: 2px; }

h2 { font-family: 'montserratbold'; color: #231F20; text-transform: uppercase; display: block; text-align: left; font-size: 24px; letter-spacing: 1px; margin-bottom: 30px; }

@media (min-width: 720px) { h2 { text-align: center; font-size: 26px; margin-bottom: 34px; } }

@media (min-width: 992px) { h2 { text-align: left; font-size: 28px; margin-bottom: 38px; } }

@media (min-width: 1200px) { h2 { font-size: 28px; letter-spacing: 2px; } }

h3 { font-family: 'montserratbold'; color: #231F20; text-transform: uppercase; font-size: 18px; line-height: 1.1; letter-spacing: 1px; }

h4 { font-family: 'montserratbold'; color: #231F20; text-transform: uppercase; font-size: 14px; line-height: 1.3; letter-spacing: 3px; }

h5 { font-family: 'montserratbold'; color: #231F20; text-transform: uppercase; font-size: 12px; line-height: 1.3; letter-spacing: 3px; }

h6 { font-family: 'montserratthin'; color: #231F20; font-size: 15px; line-height: 1.5; letter-spacing: 1px; }

.clear { clear: both; }

.inline { display: inline; }

.none { display: none; }

.show { display: block; transition: all 0.5s; }

.text-center { text-align: center !important; }

.image-center { display: block; margin: 0 auto; }

.white { color: white; }

.roxo { color: #7b2d6d; }

.verde { color: #47E4C2; }

.texto { color: #231F20; }

.uppercase { text-transform: uppercase; }

.relative { position: relative; }

.pagination { display: block; margin: 0 auto 40px; }

.pagination .holderNav { margin: 0 auto; display: block; border: 1px solid red; width: auto; }

.pagination ul.page-numbers { list-style: none; margin: 0; padding: 0; }

.pagination ul.page-numbers li { display: inline-block; }

span.page-numbers, a.page-numbers:link, a.page-numbers:visited { font-family: 'montserratregular'; font-size: 12px; list-style: none; display: inline-block; margin-right: 2px; width: 28px; height: 28px; padding: 6px 0 7px 10px; background-color: #f1f1f1; border-radius: 50%; transition: all 0.4s; text-decoration: none; color: #959595; }

a.page-numbers:hover, span.page-numbers.current { color: white; background-color: #47E4C2; }

.navbar-hide { background-color: red !important; }

header { position: relative; margin: 0 auto; width: 100%; }

header .navbar-default .logo { position: relative; background: url(imgs/ui/logo_negativo-sm.svg) no-repeat 0 0; width: 65px; height: 103px; transition: all 0.3s; z-index: 100; }

@media (min-width: 1200px) { header .navbar-default .logo { background: url(imgs/ui/logo_negativo.svg) no-repeat 0 0; width: 81px; height: 127px; } }

header .navbar-default.shrink .logo { position: relative; background: url(imgs/ui/logo_secundario.svg) no-repeat 0 0; width: 122px; height: 55px; margin-top: -10px; transition: all 0.4s; }

header .logogimbal { display: block; margin-right: 10px; margin-top: 10px; }

header .navbar-header { position: relative; }

header .navbar-brand { float: left; }

header .navbar-default { background-color: transparent !important; border: none; }

header .navbar-default.shrink { padding-bottom: 15px; transition: all 0.4s; }

header .navbar-default.navgreen { background-color: rgba(71, 228, 194, 0.9) !important; }

header .navbar { border-radius: 0; }

header .navbar-nav { margin-top: 10px; }

header .navbar-nav li { padding: 0 20px !important; text-transform: uppercase; font-family: montserratbold, sans-serif; letter-spacing: 2px; }

header .navbar-nav li a:link, header .navbar-nav li a:visited { font-size: 14px; line-height: 1; transition: all 0.4s; padding: 15px 2px 5px 2px; color: #fff; }

header .navbar-nav li a:link:hover, header .navbar-nav li a:visited:hover { color: #14a8d4; }

header .navbar-nav .dropdown-menu { right: auto; left: 0; -webkit-box-shadow: none; -moz-box-shadow: none !important; box-shadow: none !important; border-radius: 0px; border: none; background-color: transparent; padding: 5px 0 0 2px; }

header .navbar-nav .dropdown-menu li a:link, header .navbar-nav .dropdown-menu li a:visited { padding: 8px 0; font-size: 11px; color: #fff; transition: all 0.4s; }

header .navbar-nav .dropdown-menu li a:link:hover, header .navbar-nav .dropdown-menu li a:visited:hover { background-color: transparent; color: #47E4C2; }

header .navbar-nav .dropdown-menu li.thin a:link, header .navbar-nav .dropdown-menu li.thin a:visited { font-family: montserratthin, sans-serif; padding: 8px 0; font-size: 11px; color: #fff; transition: all 0.4s; }

header .navbar-nav .dropdown-menu li.thin a:link:hover, header .navbar-nav .dropdown-menu li.thin a:visited:hover { background-color: transparent; color: #47E4C2; }

header .navbar-default.shrink .navbar-nav ul.dropdown-menu { padding-bottom: 20px; }

header .navbar-default.shrink .navbar-nav ul.dropdown-menu li a:link, header .navbar-default.shrink .navbar-nav ul.dropdown-menu li a:visited { background-color: rgba(71, 228, 194, 0.9) !important; padding-left: 14px; padding-right: 14px; }

header .navbar-default.shrink .navbar-nav ul.dropdown-menu li a:link:hover, header .navbar-default.shrink .navbar-nav ul.dropdown-menu li a:visited:hover { color: #231F20; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover { background-color: transparent; color: #14a8d4; }

.menuSecundario { position: fixed; z-index: 900; top: 0px; left: 0px; bottom: 0px; right: 0px; background-color: rgba(35, 31, 32, 0.95); }

.menuSecundario .panel-group { margin-top: 90px; }

.menuSecundario .panel-default { background-color: transparent; border: 0; margin-bottom: 20px; }

.menuSecundario .panel-heading { background-color: transparent; border-radius: 0; color: white; padding: 0; }

.menuSecundario .panel-body { border: 0 !important; }

.menuSecundario .panel-title { text-align: center; font-size: 28px; }

@media (min-width: 992px) { .menuSecundario .panel-title { font-size: 34px; } }

.menuSecundario .panel-title a.btnBoo:link, .menuSecundario .panel-title a.btnBoo:visited { color: #7b2d6d; }

.menuSecundario .panel-title a.btnBoo:link:hover, .menuSecundario .panel-title a.btnBoo:visited:hover { color: white; }

.menuSecundario .panel-title a.btnGimbal:link, .menuSecundario .panel-title a.btnGimbal:visited { color: #47E4C2; }

.menuSecundario .panel-title a.btnGimbal:link:hover, .menuSecundario .panel-title a.btnGimbal:visited:hover { color: white; }

.menuSecundario .panel-title a:link, .menuSecundario .panel-title a:visited { text-decoration: none; transition: all 0.4s; }

.menuSecundario .panel-title a:link span, .menuSecundario .panel-title a:visited span { font-family: 'montserratthin'; display: block; font-size: 20px; }

@media (min-width: 992px) { .menuSecundario .panel-title a:link span, .menuSecundario .panel-title a:visited span { font-size: 24px; } }

.menuSecundario .panel-title .btnBoo { padding-left: 15px; background-image: url(imgs/ui/setadown.svg); background-repeat: no-repeat; background-position: left 22px; }

@media (min-width: 720px) { .menuSecundario .panel-title .btnBoo { background-position: left 24px; } }

@media (min-width: 992px) { .menuSecundario .panel-title .btnBoo { background-position: left 30px; } }

.menuSecundario .panel-title .btnGimbal { display: inline-block; padding-left: 15px; background-image: url(imgs/ui/setadown.svg); background-repeat: no-repeat; background-position: left 38px; }

@media (min-width: 720px) { .menuSecundario .panel-title .btnGimbal { background-position: left 38px; } }

@media (min-width: 992px) { .menuSecundario .panel-title .btnGimbal { background-position: left 50px; } }

.menuSecundario ul#secundario, .menuSecundario ul#secundarioGimbal { margin: 0 auto; padding: 0; display: block; list-style: none; }

.menuSecundario ul#secundario li, .menuSecundario ul#secundarioGimbal li { text-align: center; text-transform: uppercase; margin-bottom: 10px; }

.menuSecundario ul#secundario li a.boo:link, .menuSecundario ul#secundario li a.boo:visited, .menuSecundario ul#secundarioGimbal li a.boo:link, .menuSecundario ul#secundarioGimbal li a.boo:visited { color: white; font-family: 'montserratthin'; transition: all 0.4s; text-decoration: none; font-size: 18px; }

@media (min-width: 992px) { .menuSecundario ul#secundario li a.boo:link, .menuSecundario ul#secundario li a.boo:visited, .menuSecundario ul#secundarioGimbal li a.boo:link, .menuSecundario ul#secundarioGimbal li a.boo:visited { font-size: 26px; } }

.menuSecundario ul#secundario li a.boo:link:hover, .menuSecundario ul#secundario li a.boo:visited:hover, .menuSecundario ul#secundarioGimbal li a.boo:link:hover, .menuSecundario ul#secundarioGimbal li a.boo:visited:hover { color: #7b2d6d; }

.menuSecundario ul#secundario li a.gimbal:link, .menuSecundario ul#secundario li a.gimbal:visited, .menuSecundario ul#secundarioGimbal li a.gimbal:link, .menuSecundario ul#secundarioGimbal li a.gimbal:visited { color: white; font-family: 'montserratbold'; transition: all 0.4s; text-decoration: none; font-size: 22px; }

@media (min-width: 992px) { .menuSecundario ul#secundario li a.gimbal:link, .menuSecundario ul#secundario li a.gimbal:visited, .menuSecundario ul#secundarioGimbal li a.gimbal:link, .menuSecundario ul#secundarioGimbal li a.gimbal:visited { font-size: 30px; } }

.menuSecundario ul#secundario li a.gimbal:link:hover, .menuSecundario ul#secundario li a.gimbal:visited:hover, .menuSecundario ul#secundarioGimbal li a.gimbal:link:hover, .menuSecundario ul#secundarioGimbal li a.gimbal:visited:hover { color: #47E4C2; }

.mbr-navbar__hamburger { display: block; margin-top: -11px; position: absolute; right: 30px; top: 40px; z-index: 10000; color: #fff !important; transition: all 0.4s; }

@media (min-width: 720px) { .mbr-navbar__hamburger { right: 40px; top: 45px; } }

@media (min-width: 992px) { .mbr-navbar__hamburger { right: 50px; top: 50px; } }

@media (min-width: 1200px) { .mbr-navbar__hamburger { display: none; } }

.shrink .mbr-navbar__hamburger { transition: all 0.4s; top: 32px; }

.mbr-hamburger { cursor: pointer; height: 23px; width: 30px; }

.mbr-hamburger:focus { outline: none; }

.mbr-hamburger__line, .mbr-hamburger__line:before, .mbr-hamburger__line:after { content: ""; position: absolute; display: block; height: 1px; cursor: pointer; }

.mbr-hamburger__line, .mbr-hamburger__line:before, .mbr-hamburger__line:after { width: 30px; border-bottom: 5px solid; top: 9px; }

.mbr-hamburger__line:before { top: -9px; }

.mbr-hamburger__line:after { top: 9px; }

.mbr-hamburger__line, .mbr-hamburger__line:before, .mbr-hamburger__line:after { -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

.mbr-hamburger--open .mbr-hamburger__line { border-color: transparent; }

.mbr-hamburger--open .mbr-hamburger__line:before, .mbr-hamburger--open .mbr-hamburger__line:after { top: 0; }

.mbr-hamburger--open .mbr-hamburger__line:before { -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.mbr-hamburger--open .mbr-hamburger__line:after { top: 10px; -ms-transform: translatey(-10px) rotate(-45deg); -webkit-transform: translatey(-10px) rotate(-45deg); transform: translatey(-10px) rotate(-45deg); }

.holderContent { position: relative; margin: 0 auto; width: 100%; }

@media (min-width: 720px) { .holderContent { width: 90%; } }

@media (min-width: 992px) { .holderContent { width: 960px; } }

@media (min-width: 1200px) { .holderContent { width: 1040px; } }

.video { position: relative; margin: 0 auto; width: 100%; padding-top: 56.25%; }

.video iframe { width: 100%; height: 100%; display: block; position: absolute; margin: 0; top: 0; left: 0; box-sizing: border-box; }

.sliderDown:link, .sliderDown:visited { position: absolute; display: block; bottom: 70px; left: 50%; margin-left: -33px; width: 66px; height: 80px; background-color: red; background: url(imgs/ui/setadown-slider.svg) no-repeat center center; text-indent: -9999px; transition: all 0.4s; }

.sliderDown:link:hover, .sliderDown:visited:hover { bottom: 50px; }

.slider { position: relative; width: 100%; overflow: hidden; }

@media (min-width: 992px) { .slider { background-color: #fff; } }

.slider .item { overflow: hidden; background-repeat: no-repeat; background-position: center center; height: 500px; background-color: #eee; }

@media (min-width: 720px) { .slider .item { height: 590px; background-size: cover; } }

@media (min-width: 992px) { .slider .item { height: 590px; } }

@media (min-width: 1200px) { .slider .item { background-size: cover; height: 710px; } }

.slider .holderItems { position: absolute; left: 50%; width: 90%; margin-left: -45%; top: 180px; }

@media (min-width: 720px) { .slider .holderItems { width: 680px; margin-left: -340px; top: 160px; } }

@media (min-width: 992px) { .slider .holderItems { margin-left: -400px; top: 130px; width: 800px; } }

@media (min-width: 1200px) { .slider .holderItems { margin-left: -440px; top: 180px; width: 880px; } }

.slider .holderItems p { text-align: center; margin-top: 30px; }

.slider .sliderTitle { position: relative; font-family: 'montserratregular'; text-transform: uppercase; color: #fff; line-height: 1.2; margin-bottom: 10px; text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 19px; text-align: center; font-size: 20px; letter-spacing: 2px; }

@media (min-width: 720px) { .slider .sliderTitle { line-height: 1.1; font-size: 24px; letter-spacing: 3px; } }

@media (min-width: 992px) { .slider .sliderTitle { text-align: center; line-height: 1.2; letter-spacing: 4px; font-size: 24px; } }

@media (min-width: 1200px) { .slider .sliderTitle { font-size: 24px; } }

.slider .sliderSubtitle, .slider p { color: white; font-family: font92669; text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 8px; letter-spacing: 1px; text-align: center; font-size: 13px; letter-spacing: 3px; }

@media (min-width: 992px) { .slider .sliderSubtitle, .slider p { letter-spacing: 3px; font-size: 13px; } }

@media (min-width: 1200px) { .slider .sliderSubtitle, .slider p { font-size: 13px; letter-spacing: 4px; } }

.slider .holderMainIcon { position: relative; width: inherit; height: auto; text-align: right; }

@media (min-width: 720px) { .slider .holderMainIcon { margin-top: 30px; } }

.slider .holderMainIcon img { display: inline-block; }

.slider .holderSecondIcon { position: absolute; bottom: 10px; }

.slider .holderSecondIcon img { display: block; }

.slider .contSlider { width: inherit !important; }

@media (min-width: 720px) { .slider .contSlider { margin: 30px auto 0; } }

@media (min-width: 992px) { .slider .contSlider { margin: 60px auto 0; } }

@media (min-width: 1200px) { .slider .contSlider { margin: 60px auto 0; } }

.slider .iconCols, .slider .iconLocalizacao, .slider .iconProximidade, .slider .iconDatasolutions, .slider .iconAnalytics { text-align: center; background-repeat: no-repeat; background-position: center top; }

.slider .iconCols span, .slider .iconLocalizacao span, .slider .iconProximidade span, .slider .iconDatasolutions span, .slider .iconAnalytics span { display: block; color: white; text-transform: uppercase; font-family: 'montserratlight'; text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 8px; letter-spacing: 1px; font-size: 13px; }

@media (min-width: 720px) { .slider .iconCols span, .slider .iconLocalizacao span, .slider .iconProximidade span, .slider .iconDatasolutions span, .slider .iconAnalytics span { padding-top: 95px; line-height: 1.4; margin-bottom: 35px; letter-spacing: 2px; } }

@media (min-width: 992px) { .slider .iconCols span, .slider .iconLocalizacao span, .slider .iconProximidade span, .slider .iconDatasolutions span, .slider .iconAnalytics span { padding-top: 150px; font-size: 14px; line-height: 1.4; margin-bottom: 0; } }

.slider .iconCols span b, .slider .iconLocalizacao span b, .slider .iconProximidade span b, .slider .iconDatasolutions span b, .slider .iconAnalytics span b { font-family: 'montserratbold'; }

@media (min-width: 720px) { .slider .iconLocalizacao { background-image: url(imgs/slider/icon/icon01b-sm.svg); } }

@media (min-width: 992px) { .slider .iconLocalizacao { background-image: url(imgs/slider/icon/icon01b.svg); } }

@media (min-width: 720px) { .slider .iconProximidade { background-image: url(imgs/slider/icon/icon_proximidade-sm.svg); } }

@media (min-width: 992px) { .slider .iconProximidade { background-image: url(imgs/slider/icon/icon_proximidade.svg); } }

@media (min-width: 720px) { .slider .iconDatasolutions { background-image: url(imgs/slider/icon/icon_datasolutions-sm.svg); } }

@media (min-width: 992px) { .slider .iconDatasolutions { background-image: url(imgs/slider/icon/icon_datasolutions.svg); } }

@media (min-width: 720px) { .slider .iconAnalytics { background-image: url(imgs/slider/icon/icon_analytics-sm.svg); } }

@media (min-width: 992px) { .slider .iconAnalytics { background-image: url(imgs/slider/icon/icon_analytics.svg); } }

.slider .item1 { background-image: url(imgs/slider/home01-sm.jpg); }

@media (min-width: 720px) { .slider .item1 { background-image: url(imgs/slider/home01-sm.jpg); } }

@media (min-width: 992px) { .slider .item1 { background-image: url(imgs/slider/home01-md.jpg); } }

@media (min-width: 1200px) { .slider .item1 { background-image: url(imgs/slider/home01.jpg); } }

.slider .item1 .holderItems { text-align: center; top: 160px; width: 90%; margin-left: -45%; }

@media (min-width: 720px) { .slider .item1 .holderItems { width: 700px; margin-left: -350px; top: 130px; } }

@media (min-width: 992px) { .slider .item1 .holderItems { width: 800px; margin-left: -400px; top: 130px; } }

@media (min-width: 1200px) { .slider .item1 .holderItems { width: 960px; margin-left: -480px; top: 180px; } }

.slider .item1 .holderItems .sliderTitle, .slider .item1 .holderItems .sliderSubtitle { text-align: center !important; }

.slider .item1 p { margin-top: 20px; }

.slider .item2 { background-image: url(imgs/slider/home02-sm.jpg); }

@media (min-width: 720px) { .slider .item2 { background-image: url(imgs/slider/home02-sm.jpg); } }

@media (min-width: 992px) { .slider .item2 { background-image: url(imgs/slider/home02-md.jpg); } }

@media (min-width: 1200px) { .slider .item2 { background-image: url(imgs/slider/home02.jpg); } }

.slider .item2 .holderItems { text-align: center; top: 80px; }

@media (min-width: 720px) { .slider .item2 .holderItems { top: 60px; margin-left: 10px; } }

@media (min-width: 992px) { .slider .item2 .holderItems { width: 800px; margin-left: -400px; top: 140px; } }

@media (min-width: 1200px) { .slider .item2 .holderItems { width: 960px; margin-left: -480px; top: 180px; } }

.slider .carousel-indicators { position: absolute; bottom: 10px; left: 50%; z-index: 15; width: 100%; margin-left: -50%; padding: 4px 0 2px 0; list-style: none; text-align: center; margin-top: 0px; height: 24px; background-color: transparent; }

.slider .carousel-indicators li { display: inline-block; width: 14px; height: 14px; text-indent: -999px; cursor: pointer; margin-right: 5px; border: 2px solid white; border-radius: 50%; }

.slider .carousel-indicators .active { background-color: #fff; }

.slider .carousel-control { opacity: 1; top: 45%; background-repeat: no-repeat; width: 86px; height: 80px; transition: all 0.4s; }

.slider .carousel-control.right { background-image: url(imgs/ui/slider/btn-right.svg); background-position: right center; right: 40px; }

.slider .carousel-control.right:hover { background-image: url(imgs/ui/slider/btn-right-hover.svg); right: 20px; }

.slider .carousel-control.left { background-image: url(imgs/ui/slider/btn-left.svg); background-position: left center; left: 40px; }

.slider .carousel-control.left:hover { background-image: url(imgs/ui/slider/btn-left-hover.svg); left: 20px; }

.item1-negocios { background-image: url(imgs/slider/home02-sm.jpg); }

@media (min-width: 720px) { .item1-negocios { background-image: url(imgs/slider/home02-sm.jpg); } }

@media (min-width: 992px) { .item1-negocios { background-image: url(imgs/slider/home02-md.jpg); } }

@media (min-width: 1200px) { .item1-negocios { background-image: url(imgs/slider/home02.jpg); } }

.item1-sdk { background-image: url(imgs/slider/sdk-sm.jpg); }

@media (min-width: 720px) { .item1-sdk { background-image: url(imgs/slider/sdk-sm.jpg); } }

@media (min-width: 992px) { .item1-sdk { background-image: url(imgs/slider/sdk-md.jpg); } }

@media (min-width: 1200px) { .item1-sdk { background-image: url(imgs/slider/sdk.jpg); } }

.item1-publicidademovel, .item1-publisher { background-image: url(imgs/slider/publicidademovel-sm.jpg); }

@media (min-width: 720px) { .item1-publicidademovel, .item1-publisher { background-image: url(imgs/slider/publicidademovel-sm.jpg); } }

@media (min-width: 992px) { .item1-publicidademovel, .item1-publisher { background-image: url(imgs/slider/publicidademovel-md.jpg); } }

@media (min-width: 1200px) { .item1-publicidademovel, .item1-publisher { background-image: url(imgs/slider/publicidademovel.jpg); } }

.item1-publicidademovel2 { background-image: url(imgs/slider/publicidademovel2-sm.jpg); }

@media (min-width: 720px) { .item1-publicidademovel2 { background-image: url(imgs/slider/publicidademovel2-sm.jpg); } }

@media (min-width: 992px) { .item1-publicidademovel2 { background-image: url(imgs/slider/publicidademovel2-md.jpg); } }

@media (min-width: 1200px) { .item1-publicidademovel2 { background-image: url(imgs/slider/publicidademovel2.jpg); } }

.item1-quemsomos, .item1-app { background-image: url(imgs/slider/quemsomos-sm.jpg); }

@media (min-width: 720px) { .item1-quemsomos, .item1-app { background-image: url(imgs/slider/quemsomos-sm.jpg); } }

@media (min-width: 992px) { .item1-quemsomos, .item1-app { background-image: url(imgs/slider/quemsomos-md.jpg); } }

@media (min-width: 1200px) { .item1-quemsomos, .item1-app { background-image: url(imgs/slider/quemsomos.jpg); } }

.item1-home { background-image: url(imgs/slider/app-sm.jpg); }

@media (min-width: 992px) { .item1-home { background-image: url(imgs/slider/app-md.jpg); } }

@media (min-width: 1200px) { .item1-home { background-image: url(imgs/slider/app.jpg); } }

.item1-anunciantes { background-image: url(imgs/slider/anunciantes-sm.jpg); }

@media (min-width: 720px) { .item1-anunciantes { background-image: url(imgs/slider/anunciantes-sm.jpg); } }

@media (min-width: 992px) { .item1-anunciantes { background-image: url(imgs/slider/anunciantes-md.jpg); } }

@media (min-width: 1200px) { .item1-anunciantes { background-image: url(imgs/slider/anunciantes.jpg); } }

.item1-home .holderMainIcon img { margin-right: 0; }

@media (min-width: 720px) { .item1-home .holderMainIcon img { margin-right: 80px; } }

@media (min-width: 992px) { .item1-home .holderMainIcon img { margin-right: 80px; } }

@media (min-width: 720px) { .item1-home .holderSecondIcon { left: 80px; } }

@media (min-width: 992px) { .item1-home .holderSecondIcon { left: 100px; } }

.item1-negocios .holderMainIcon img { margin-right: 0; }

@media (min-width: 992px) { .item1-negocios .holderMainIcon img { margin-right: 20px; } }

.item1-negocios .holderSecondIcon { bottom: 50px; left: 0px; }

.item1-sdk .holderMainIcon img { margin-right: 0; }

@media (min-width: 720px) { .item1-sdk .holderMainIcon img { margin-right: 30px; margin-top: 10px; } }

@media (min-width: 992px) { .item1-sdk .holderMainIcon img { margin-right: 30px; margin-top: 30px; } }

.item1-sdk .holderSecondIcon { bottom: 50px; left: 0px; }

@media (min-width: 720px) { .item1-sdk .holderSecondIcon { left: 40px; top: 120px; } }

@media (min-width: 992px) { .item1-sdk .holderSecondIcon { left: 50px; top: 120px; } }

@media (min-width: 720px) { .item1-publicidademovel .holderMainIcon, .item1-publisher .holderMainIcon { position: absolute; right: 70px; } }

@media (min-width: 992px) { .item1-publicidademovel .holderMainIcon, .item1-publisher .holderMainIcon { right: 140px; top: 80px; } }

@media (min-width: 720px) { .item1-publicidademovel .holderSecondIcon, .item1-publisher .holderSecondIcon { top: 122px; left: 60px; } }

@media (min-width: 992px) { .item1-publicidademovel .holderSecondIcon, .item1-publisher .holderSecondIcon { left: 130px; top: 150px; } }

@media (min-width: 720px) { .item1-publicidademovel2 .holderMainIcon { position: absolute; right: 70px; } }

@media (min-width: 992px) { .item1-publicidademovel2 .holderMainIcon { right: 140px; top: 120px; } }

@media (min-width: 720px) { .item1-publicidademovel2 .holderSecondIcon { top: 122px; left: 60px; } }

@media (min-width: 992px) { .item1-publicidademovel2 .holderSecondIcon { left: 130px; top: 150px; } }

@media (min-width: 720px) { .item1-anunciantes .holderMainIcon img { margin-right: 50px; } }

@media (min-width: 992px) { .item1-anunciantes .holderMainIcon img { margin-right: 70px; } }

@media (min-width: 720px) { .item1-anunciantes .holderSecondIcon { top: 110px; left: 50px; } }

@media (min-width: 992px) { .item1-anunciantes .holderSecondIcon { top: initial; bottom: 64px; left: 70px; } }

.plataforma, .geofences, .beacons, .varejo, .hospitalidade, .evento, .financeiros, .publishers { position: relative; margin: 40px auto; }

.hospitalidade { background-color: #EBEBEB; padding: 40px 0; }

.plataforma p { text-align: left; }

@media (min-width: 720px) { .plataforma p { text-align: center; } }

@media (min-width: 992px) { .plataforma p { text-align: left; } }

.centerTablet { text-align: left; }

@media (min-width: 720px) { .centerTablet { text-align: center; } }

@media (min-width: 992px) { .centerTablet { text-align: left; } }

.centerMobile { text-align: center; }

@media (min-width: 720px) { .centerMobile { text-align: center; } }

@media (min-width: 992px) { .centerMobile { text-align: left; } }

.grafico01, .grafico02, .grafico03, .grafico04 { display: block; margin: 0 auto; }

.grafico01 { padding-top: 20px; padding-bottom: 20px; }

@media (min-width: 992px) { .grafico01 { padding-top: 30px; padding-bottom: 0; } }

@media (min-width: 1200px) { .grafico01 { padding-top: 20px; } }

.grafico02 { padding-top: 20px; }

@media (min-width: 992px) { .grafico02 { padding-top: 45px; } }

@media (min-width: 1200px) { .grafico02 { padding-top: 10px; } }

.grafico03 { padding-top: 20px; }

@media (min-width: 992px) { .grafico03 { padding-top: 65px; } }

@media (min-width: 1200px) { .grafico03 { padding-top: 0px; } }

.grafico04 { padding-top: 20px; }

@media (min-width: 992px) { .grafico04 { padding-top: 45px; } }

@media (min-width: 1200px) { .grafico04 { padding-top: 30px; } }

.geofencesIcons { position: relative; width: 100%; background-color: #EBEBEB; margin: 10px auto; }

@media (min-width: 992px) { .geofencesIcons { padding-top: 30px; } }

@media (min-width: 1200px) { .geofencesIcons { padding-top: 0; } }

.geofences h3, .geofences p { text-align: center; }

@media (min-width: 992px) { .geofences h3, .geofences p { text-align: left; } }

.geofences h3 { color: #545E65; }

.rowGeofencesIcons, .rowBooParticipacoes { margin-top: 30px; margin-bottom: 30px; }

@media (min-width: 992px) { .rowGeofencesIcons, .rowBooParticipacoes { margin-top: 10px; margin-bottom: 10px; } }

.rowBooParticipacoes h3 { transition: all 0.4s; }

.colGeofences, .colGeofenceFlexivel, .colGeofenceEscalavel, .colGeofenceAlcance, .colGeofenceGerenciamento { background-repeat: no-repeat; background-position: center top; display: block; margin-bottom: 50px; padding-top: 90px; }

@media (min-width: 720px) { .colGeofences, .colGeofenceFlexivel, .colGeofenceEscalavel, .colGeofenceAlcance, .colGeofenceGerenciamento { margin-bottom: 40px; } }

@media (min-width: 992px) { .colGeofences, .colGeofenceFlexivel, .colGeofenceEscalavel, .colGeofenceAlcance, .colGeofenceGerenciamento { background-position: 15px top; } }

@media (min-width: 1200px) { .colGeofences, .colGeofenceFlexivel, .colGeofenceEscalavel, .colGeofenceAlcance, .colGeofenceGerenciamento { margin-top: 30px; margin-bottom: 20px; } }

.colGeofenceFlexivel { background-image: url(imgs/solucoes/icon_flexivel.svg); }

.colGeofenceEscalavel { background-image: url(imgs/solucoes/icon_escalavel.svg); }

.colGeofenceAlcance { background-image: url(imgs/solucoes/icon_alcance.svg); }

.colGeofenceGerenciamento { background-image: url(imgs/solucoes/icon_gerenciamento.svg); }

.paddingtopbottom { padding-top: 30px; padding-bottom: 30px; }

.beaconsIcons { position: relative; width: 100%; text-align: center; padding: 40px 0; margin: 40px auto; }

@media (min-width: 992px) { .beaconsIcons { margin: 10px auto; } }

.beaconsIcons img { display: block; margin: 20px auto; padding-top: 10px; }

@media (min-width: 992px) { .beaconsIcons img { margin: 0 auto; } }

.ico-seguranca { background-image: url(imgs/solucoes/icon-seguranca.svg); background-repeat: no-repeat; background-position: left center; padding: 6px 0 6px 32px; }

.ico-firmware { position: relative; top: initial; left: initial; margin: 0 0 5px 0; }

@media (min-width: 992px) { .ico-firmware { position: absolute; top: 15px; left: 270px; } }

.bgCinzaInParallax { background-color: #EBEBEB; padding: 20px 0; }

.bgCinza { background-color: #EBEBEB; }

.experiencias h4 { margin-top: 0; }

.jarallax { position: relative; width: 100%; overflow: hidden; background-attachment: fixed !important; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover !important; height: 500px; }

.experienciasIcons { position: relative; width: 100%; margin: 0 auto; }

@media (min-width: 992px) { .experienciasIcons { margin: 0 auto; padding: 60px 0; } }

@media (min-width: 1200px) { .experienciasIcons { padding: 70px 0; } }

.experienciasIcons h5, .experienciasIcons p { text-align: center; color: white !important; }

.experienciasIcons h5 { margin-bottom: 2px; line-height: 1.5; }

.experienciasIcons p { font-size: 13px; line-height: 1.3; }

.rowExperienciasIcons, .rowTeam { margin-top: 30px; margin-bottom: 30px; padding-top: 20px; }

@media (min-width: 992px) { .rowExperienciasIcons, .rowTeam { padding-top: 0; margin-top: 20px; margin-bottom: 10px; } }

.rowTeam { a: link; }

.rowTeam h5 { color: #47E4C2 !important; }

.iconExp, .iconExp01, .iconExp02, .iconExp03, .iconExp04, .iconValor01, .iconValor02, .iconValor03 { background-position: center top; background-repeat: no-repeat; display: block; padding-top: 120px; margin-bottom: 40px; }

@media (min-width: 992px) { .iconExp, .iconExp01, .iconExp02, .iconExp03, .iconExp04, .iconValor01, .iconValor02, .iconValor03 { margin-bottom: 0; padding-top: 120px; padding-right: 35px; padding-left: 35px; } }

.iconExp01 { background-image: url(imgs/solucoes/icon_experiencias01.svg); }

.iconExp02 { background-image: url(imgs/solucoes/icon_experiencias02.svg); }

.iconExp03 { background-image: url(imgs/solucoes/icon_experiencias03.svg); }

.iconExp04 { background-image: url(imgs/solucoes/icon_experiencias04.svg); }

.iconPub01 { display: block; margin: 20px auto; }

@media (min-width: 1200px) { .iconPub01 { margin: 45px auto; } }

.pubPlataformas { position: relative; width: 100%; padding: 30px 0; margin-bottom: 40px; background-size: cover; }

@media (min-width: 992px) { .pubPlataformas { padding: 50px 0; } }

.pubPlataformas h3, .pubPlataformas h5, .pubPlataformas p { text-align: center; }

.plat01 { display: block; padding-top: 140px; background-image: url(imgs/publishers/plataforma01.svg); background-repeat: no-repeat; background-position: top center; margin-bottom: 50px; }

@media (min-width: 992px) { .plat01 { margin-bottom: 0; } }

.plat02 { display: block; padding-top: 140px; background-image: url(imgs/publishers/plataforma02.svg); background-repeat: no-repeat; background-position: top center; }

.anunciantes .outofhome { margin: 20px auto; }

.oohFaixa { position: relative; width: 100%; padding: 30px 0; background-size: cover; }

@media (min-width: 992px) { .oohFaixa { padding: 50px 0; margin-bottom: 0; } }

.oohFaixa h4, .oohFaixa p { text-align: center; color: white !important; }

.faixaPercent { position: relative; width: 100%; background-color: #A8A7B7; padding: 20px 0; }

@media (min-width: 992px) { .faixaPercent { padding: 30px 0; } }

.faixaPercent h4 { font-size: 16px; color: white; line-height: 1.5; letter-spacing: 3px; }

.faixaPercent h4 span { font-family: 'montserratthin' !important; margin-top: 5px; }

@media (min-width: 992px) { .faixaPercent h4 span { padding-right: 40px; padding-left: 40px; } }

.counter { color: white; font-family: 'montserratbold'; font-size: 50px; }

.count01 { padding-top: 0; }

@media (min-width: 992px) { .count01 { padding-top: 30px; } }

@media (min-width: 1200px) { .count01 { padding-top: 20px; } }

.iconcounter01 { display: block; padding-top: 10px; }

@media (min-width: 992px) { .iconcounter01 { padding-top: 25px; } }

.anunc01 { display: block; margin: 10px auto; }

@media (min-width: 992px) { .anunc01 { margin: -10px auto 0 auto; } }

@media (min-width: 1200px) { .anunc01 { margin: -30px auto 0 auto; } }

.anunc02 { display: block; margin: 10px auto; }

@media (min-width: 992px) { .anunc02 { margin: 0 auto 0 auto; } }

@media (min-width: 1200px) { .anunc02 { margin: 0 auto; } }

.iconAnunOthers { position: relative; margin: 0 auto; display: block; }

@media (min-width: 992px) { .iconAnunOthers { margin: 30px auto; } }

@media (min-width: 1200px) { .iconAnunOthers { margin: 60px auto; } }

.icon-cart { display: block; margin: 0 auto; }

@media (min-width: 1200px) { .icon-cart { margin: 20px auto; } }

.newsletter { position: relative; background-color: #EBEBEB; margin: 0 auto; width: 100%; padding: 40px 0; }

.newsletter h3 { text-align: center; color: #231F20; }

.newsletter .form-control { border-radius: 0px; border: 4px solid #A8A7B7; height: 50px; transition: all 0.6s; }

.newsletter .form-control:focus { border: 4px solid #47E4C2; }

.btnForm { border-radius: 0px; border: 4px solid #47E4C2; background-color: #47e4c2; color: #545E65; font-family: 'montserratbold'; text-transform: uppercase; font-size: 12px; transition: all 0.4s; margin: 0 auto; display: inline-block; }

.btnForm:hover { background-color: rgba(71, 228, 194, 0.6); }

.btnContato { border-radius: 0px; border: 0; background-color: transparent; background-image: url(imgs/ui/icon_contato.svg); background-position: left center; background-repeat: no-repeat; color: #231F20; font-family: 'montserratbold'; text-transform: uppercase; font-size: 18px; transition: all 0.4s; letter-spacing: 3px; margin: 0 auto; display: inline-block; padding: 4px 0 8px 58px; outline: none; text-align: left; }

.btnContato:hover { color: #ff6600; }

.btnContato span { font-family: 'montserratthin'; display: block; letter-spacing: 0; }

.varejo h4 { font-size: 14px; letter-spacing: 1px; line-height: 1.5; }

.iconVarejo01 { display: block; margin: 10px auto 20px; }

@media (min-width: 992px) { .iconVarejo01 { margin: 50px auto 27px; } }

.iconVarejo02 { display: block; margin: 20px auto 20px; }

@media (min-width: 992px) { .iconVarejo02 { margin: 5px auto 0; } }

@media (min-width: 1200px) { .iconVarejo02 { margin: -20px auto 0 auto; } }

.iconVarejo03 { display: block; margin: 20px auto 20px; }

@media (min-width: 992px) { .iconVarejo03 { margin: 50px auto 0; } }

@media (min-width: 1200px) { .iconVarejo03 { margin: 5px auto 0; } }

.iconVarejo04 { display: block; margin: 20px auto 20px; }

@media (min-width: 992px) { .iconVarejo04 { margin: 50px auto 0; } }

@media (min-width: 1200px) { .iconVarejo04 { margin: 5px auto 0; } }

.iconFin, .iconFin01, .iconFin02, .iconFin03 { background-position: center top; background-repeat: no-repeat; padding-top: 120px; margin-bottom: 40px; }

@media (min-width: 992px) { .iconFin, .iconFin01, .iconFin02, .iconFin03 { margin-bottom: 0; padding-top: 120px; padding-right: 35px; padding-left: 35px; } }

.iconFin01 { background-image: url(imgs/negocios/icon_financ01.svg); }

.iconFin02 { background-image: url(imgs/negocios/icon_financ02.svg); }

.iconFin03 { background-image: url(imgs/negocios/icon_financ03.svg); }

.rowLocalizacao { margin: 60px 0; }

.rowLocalizacaoAnunc { margin: 20px 0 40px 0; }

.iconLocalz01 { display: block; margin: 10px auto; }

@media (min-width: 992px) { .iconLocalz01 { margin: 0 auto; } }

.iconLocalz02 { display: block; margin: 10px auto; }

@media (min-width: 992px) { .iconLocalz02 { margin: 0 auto; } }

.rowLocalizacao ul, .rowLocalizacaoAnunc ul { padding: 0; }

.rowLocalizacao ul li, .rowLocalizacaoAnunc ul li { list-style: none; font-family: 'montserratregular'; text-transform: uppercase; color: #231F20; display: block; font-size: 14px; margin-bottom: 8px; text-align: center; }

@media (min-width: 992px) { .rowLocalizacao ul li, .rowLocalizacaoAnunc ul li { font-size: 16px; margin-bottom: 10px; text-align: left; } }

ul.ulsdk { margin-top: 5px; }

ul.ulsdk li { font-family: 'montserratbold' !important; text-transform: none; font-size: 14px; margin-bottom: 22px; background: url(imgs/ui/tique.svg) no-repeat center top; padding-top: 16px; }

@media (min-width: 992px) { ul.ulsdk li { padding-left: 24px; padding-top: 0; background: url(imgs/ui/tique.svg) no-repeat left center; } }

.iconSolucao01 { display: block; margin: -10px auto 20px auto; }

@media (min-width: 1200px) { .iconSolucao01 { margin: -10px auto 0 auto; } }

.feat1 { margin: 20px 0 0 0; }

@media (min-width: 992px) { .feat1 { margin: 20px 0 0 0; } }

.feat2 { margin: 20px 0 0 0; }

@media (min-width: 992px) { .feat2 { margin: 80px 0 0 0; } }

.feat3 { margin: 20px 0 0 0; }

@media (min-width: 992px) { .feat3 { margin: 40px 0 0 0; } }

.eventos h4 { padding-right: 38px; background-image: url(imgs/negocios/icone-vip.svg); background-repeat: no-repeat; height: 28px; display: block; padding-top: 5px; background-position: right top; text-align: left; }

@media (min-width: 720px) { .eventos h4 { background-position: 500px top; text-align: center; } }

@media (min-width: 992px) { .eventos h4 { display: inline-block; background-position: right top; text-align: left; } }

.booParticipacoes, .booGrandesDesafios { position: relative; width: 100%; background-color: #EBEBEB; margin: 0 auto; }

@media (min-width: 992px) { .booParticipacoes, .booGrandesDesafios { padding-top: 30px; } }

@media (min-width: 1200px) { .booParticipacoes, .booGrandesDesafios { padding-top: 20px; } }

.booParticipacoes h2, .booGrandesDesafios h2 { margin-bottom: 8px; }

.booMenu { position: relative; width: 100%; height: auto; margin-top: 2px; overflow: hidden; }

@media (min-width: 720px) { .booMenu { height: 260px; } }

@media (min-width: 992px) { .booMenu { height: 320px; } }

@media (min-width: 1200px) { .booMenu { height: 400px; } }

.booMenu ul { margin: 0; padding: 0; height: inherit; }

.booMenu ul li { list-style: none; display: block; width: 100%; float: none; height: inherit; box-sizing: border-box; overflow: hidden; }

@media (min-width: 720px) { .booMenu ul li { float: left; width: 33%; } }

.booMenu ul li .seta { background-image: url(imgs/ui/seta_menu.svg); background-repeat: no-repeat; background-position: center center; display: block; width: inherit; height: 58px; position: absolute; bottom: -60px; transition: all 0.4s; }

@media (min-width: 720px) { .booMenu ul li .showarrow { bottom: -30px; } }

@media (min-width: 992px) { .booMenu ul li .showarrow { bottom: -10px; } }

.booMenu ul li .li_mb, .booMenu ul li a.mb_local:link, .booMenu ul li a.mb_local:visited, .booMenu ul li a.mb_app:link, .booMenu ul li a.mb_app:visited, .booMenu ul li a.mb_pub:link, .booMenu ul li a.mb_pub:visited { display: block; height: 100%; font-family: 'montserratbold'; color: white; text-transform: uppercase; font-size: 15px; line-height: 1.3; letter-spacing: 2px; text-align: center; background-repeat: no-repeat; transition: all 0.3s; background-color: #7b2d6d; text-decoration: none; background-size: 0% 0%; padding: 15px 0; border-bottom: 1px solid white; border-right: none; }

@media (min-width: 720px) { .booMenu ul li .li_mb, .booMenu ul li a.mb_local:link, .booMenu ul li a.mb_local:visited, .booMenu ul li a.mb_app:link, .booMenu ul li a.mb_app:visited, .booMenu ul li a.mb_pub:link, .booMenu ul li a.mb_pub:visited { background-size: 27% 27%; padding: 160px 0 0 0; background-position: center 70px; border-right: 2px solid white; border-bottom: none; } }

@media (min-width: 992px) { .booMenu ul li .li_mb, .booMenu ul li a.mb_local:link, .booMenu ul li a.mb_local:visited, .booMenu ul li a.mb_app:link, .booMenu ul li a.mb_app:visited, .booMenu ul li a.mb_pub:link, .booMenu ul li a.mb_pub:visited { padding: 190px 0 0 0; background-position: center 80px; } }

@media (min-width: 1200px) { .booMenu ul li .li_mb, .booMenu ul li a.mb_local:link, .booMenu ul li a.mb_local:visited, .booMenu ul li a.mb_app:link, .booMenu ul li a.mb_app:visited, .booMenu ul li a.mb_pub:link, .booMenu ul li a.mb_pub:visited { padding: 250px 0 0 0; background-position: center 110px; } }

.booMenu ul li a.mb_local:link, .booMenu ul li a.mb_local:visited { background-image: url(imgs/ui/boomenu_local.svg); }

.booMenu ul li a.mb_local:link:hover, .booMenu ul li a.mb_local:visited:hover { background-color: #47E4C2; background-size: 0% 0%; }

@media (min-width: 720px) { .booMenu ul li a.mb_local:link:hover, .booMenu ul li a.mb_local:visited:hover { background-size: 30% 30%; } }

@media (min-width: 992px) { .booMenu ul li a.mb_local:link:hover, .booMenu ul li a.mb_local:visited:hover { background-position: center 75px; } }

@media (min-width: 1200px) { .booMenu ul li a.mb_local:link:hover, .booMenu ul li a.mb_local:visited:hover { background-position: center 105px; } }

.booMenu ul li a.mb_app:link, .booMenu ul li a.mb_app:visited { background-image: url(imgs/ui/boomenu_app.svg); }

.booMenu ul li a.mb_app:link:hover, .booMenu ul li a.mb_app:visited:hover { background-color: #47E4C2; background-size: 0% 0%; }

@media (min-width: 720px) { .booMenu ul li a.mb_app:link:hover, .booMenu ul li a.mb_app:visited:hover { background-size: 30% 30%; } }

@media (min-width: 992px) { .booMenu ul li a.mb_app:link:hover, .booMenu ul li a.mb_app:visited:hover { background-position: center 75px; } }

@media (min-width: 1200px) { .booMenu ul li a.mb_app:link:hover, .booMenu ul li a.mb_app:visited:hover { background-position: center 105px; } }

.booMenu ul li a.mb_pub:link, .booMenu ul li a.mb_pub:visited { background-image: url(imgs/ui/boomenu_publicidade.svg); border-right: none; }

.booMenu ul li a.mb_pub:link:hover, .booMenu ul li a.mb_pub:visited:hover { background-color: #47E4C2; background-size: 0% 0%; }

@media (min-width: 720px) { .booMenu ul li a.mb_pub:link:hover, .booMenu ul li a.mb_pub:visited:hover { background-size: 30% 30%; } }

@media (min-width: 992px) { .booMenu ul li a.mb_pub:link:hover, .booMenu ul li a.mb_pub:visited:hover { background-position: center 75px; } }

@media (min-width: 1200px) { .booMenu ul li a.mb_pub:link:hover, .booMenu ul li a.mb_pub:visited:hover { background-position: center 105px; } }

.booMenu ul li.last { width: 100%; }

@media (min-width: 720px) { .booMenu ul li.last { width: 34%; } }

.colParticipacoes, .colPartLocalizacao, .colPartApp, .colPartPublicidade { background-repeat: no-repeat; background-position: center top; display: block; margin-bottom: 50px; padding-top: 140px; text-align: center; }

@media (min-width: 720px) { .colParticipacoes, .colPartLocalizacao, .colPartApp, .colPartPublicidade { margin-bottom: 40px; margin-top: 30px; } }

@media (min-width: 992px) { .colParticipacoes, .colPartLocalizacao, .colPartApp, .colPartPublicidade { margin-top: 30px; } }

@media (min-width: 1200px) { .colParticipacoes, .colPartLocalizacao, .colPartApp, .colPartPublicidade { margin-top: 30px; margin-bottom: 20px; } }

.colPartLocalizacao { background-image: url(imgs/quemsomos/icon-localizacao.svg); }

.colPartApp { background-image: url(imgs/quemsomos/icon-app.svg); }

.colPartPublicidade { background-image: url(imgs/quemsomos/icon-publicidade.svg); }

.team { position: relative; margin: 40px auto 0 auto; }

.team h2 { color: white; }

.team h5 { font-size: 18px; text-transform: none; }

.team p { font-family: 'montserratlight'; font-size: 14px; }

.cargo { color: white; font-family: 'montserratthin'; text-align: center; display: block; margin-bottom: 5px; font-size: 12px; letter-spacing: 2px; }

.iconTeam { background-image: url(imgs/quemsomos/icon-team.svg); background-position: center top; background-repeat: no-repeat; padding-top: 140px; margin-bottom: 40px; text-align: center; }

@media (min-width: 992px) { .iconTeam { margin-bottom: 60px; padding-right: 35px; padding-left: 35px; } }

.emailOnGreen:link, .emailOnGreen:visited { display: inline-block; color: #545E65; text-decoration: underline; font-family: 'montserratlight'; }

.emailOnPurple:link, .emailOnPurple:visited { display: inline-block; color: #47E4C2; text-decoration: underline; font-family: 'montserratlight'; transition: all 0.4s; }

.emailOnPurple:link:hover, .emailOnPurple:visited:hover { color: white; }

.booFornece { position: relative; margin: 80px auto 40px; }

.booFornece img { display: block; margin: 0 auto 50px auto; }

@media (min-width: 992px) { .booFornece img { margin: 0 0 50px 0; } }

.booFornece h6 { margin-top: 20px; }

@media (min-width: 992px) { .booFornece h4 { letter-spacing: 8px; margin: 30px 0; } }

@media (min-width: 1200px) { .booFornece h4 { letter-spacing: 12px; } }

.booFornece .appImage { display: block; margin: 0 auto; }

@media (min-width: 992px) { .booFornece .centerMobile { padding-left: 10px; } }

@media (min-width: 1200px) { .booFornece .centerMobile { padding-left: 60px; } }

.valorDados { position: relative; width: 100%; margin: 0 auto; }

@media (min-width: 992px) { .valorDados { padding-top: 30px; } }

@media (min-width: 1200px) { .valorDados { padding-top: 20px; } }

.valorDados h2 { text-transform: none; }

.valorDados h6 { line-height: 1.7; font-size: 15px; letter-spacing: 2px; }

@media (min-width: 992px) { .valorDados h6 { line-height: 2; font-size: 16px; letter-spacing: 2px; } }

.rowSdk { margin-top: 30px; margin-bottom: 30px; }

@media (min-width: 992px) { .rowSdk { margin-top: 10px; margin-bottom: 10px; } }

.colSdk, .colSdkIcon1, .colSdkIcon2, .colSdkIcon3 { background-repeat: no-repeat; background-position: center top; display: block; margin-bottom: 50px; padding-top: 130px; text-align: center; }

@media (min-width: 720px) { .colSdk, .colSdkIcon1, .colSdkIcon2, .colSdkIcon3 { margin-bottom: 40px; margin-top: 30px; } }

@media (min-width: 992px) { .colSdk, .colSdkIcon1, .colSdkIcon2, .colSdkIcon3 { margin-top: 30px; } }

@media (min-width: 1200px) { .colSdk, .colSdkIcon1, .colSdkIcon2, .colSdkIcon3 { margin-top: 30px; margin-bottom: 20px; } }

.colSdkIcon1 { background-image: url(imgs/sdk/icon-app1.svg); }

.colSdkIcon2 { background-image: url(imgs/sdk/icon-app2.svg); }

.colSdkIcon3 { background-image: url(imgs/sdk/icon-app3.svg); }

.thumbnail { border: 5px solid #EBEBEB; border-radius: 0; padding: 0; }

.gimbaeboo { position: relative; width: 100%; margin: 0 auto; }

@media (min-width: 992px) { .gimbaeboo { padding-top: 30px; } }

@media (min-width: 1200px) { .gimbaeboo { padding-top: 20px; } }

.gimbaeboo h2 span { font-family: 'montserratthin'; font-size: 16px; color: #231F20; text-transform: none; letter-spacing: 1px; }

.grafico { position: relative; width: 95%; margin: 0 auto 40px auto; }

@media (min-width: 992px) { .grafico { width: 100%; background-repeat: no-repeat; background-position: center 40px; background-image: url(imgs/sdk/gimbaleboo3.svg); height: 550px; } }

@media (min-width: 1200px) { .grafico { background-position: center 60px; height: 600px; } }

.quad, .quad1, .quad2, .quad3, .quad4 { border: 0; }

.quad1 { position: relative; }

@media (min-width: 992px) { .quad1 { position: absolute; top: 0px; width: 370px; text-align: left; } }

@media (min-width: 1200px) { .quad1 { width: 330px; } }

.quad2 { position: relative; }

@media (min-width: 992px) { .quad2 { position: absolute; top: 0px; right: 0; width: 370px; text-align: right; } }

@media (min-width: 1200px) { .quad2 { width: 330px; } }

.quad3 { position: relative; }

@media (min-width: 992px) { .quad3 { position: absolute; bottom: 0px; left: 0; width: 280px; text-align: left; } }

@media (min-width: 1200px) { .quad3 { width: 330px; } }

.quad4 { position: relative; }

@media (min-width: 992px) { .quad4 { position: absolute; bottom: 0px; right: 0; width: 270px; text-align: right; } }

@media (min-width: 1200px) { .quad4 { width: 330px; } }

.gimbalbooImg { margin: 20px auto; }

.mobileMajority { position: relative; margin: 40px auto; }

.mobileMajority h4 { line-height: 1.5; }

.mobileMajority h6 { line-height: 1.7; font-size: 15px; letter-spacing: 2px; }

@media (min-width: 992px) { .mobileMajority h6 { line-height: 2; font-size: 16px; letter-spacing: 2px; } }

.mobileMajority .grafico01 { padding-top: 20px; padding-bottom: 20px; }

.mobileMajority .holderGrafico { float: right; width: 380px; margin: 10px 0 20px 10px; }

ul.paragraph { margin: 6px 0 18px 0; padding: 0; }

ul.paragraph li { list-style: none; margin-bottom: 2px; color: #231F20; font-family: 'montserratbold'; font-size: 14px; font-weight: bold; }

.valor h2 { color: white; margin-bottom: 15px; }

.valorIcons { padding: 40px 0; }

.valorIcons p { color: white; }

.valorIcons h5 { text-align: center; color: white; padding-top: 10px; }

.valorIcons .rowExperienciasIcons { text-align: center; }

.iconValor01 { background-image: url(imgs/publicidademovel/iconpb01.svg); }

.iconValor02 { background-image: url(imgs/publicidademovel/iconpb02.svg); }

.iconValor03 { background-image: url(imgs/publicidademovel/iconpb03.svg); }

.modal .modal-header { background-color: #47E4C2; }

.modal .modal-content { border-radius: 0px; }

.modal p { font-family: 'sanfrancisco'; }

.modal label { font-family: 'montserratbold'; color: #231F20; text-transform: uppercase; font-size: 12px; line-height: 1.3; letter-spacing: 2px; }

.modal .form-control { border-radius: 0px; outline: none; border: 2px solid #ededed; transition: all 0.4s; font-family: 'sanfrancisco'; font-size: 15px; color: #231F20; box-shadow: none; }

.modal .form-control:focus { transition: all 0.4s; box-shadow: none; border: 2px solid #47E4C2; }

.modal-backdrop { z-index: 0; }

.booGrandesDesafios { position: relative; width: 100%; padding-bottom: 30px; }

.booGrandesDesafios h2 { text-transform: none; text-align: center; }

.booGrandesDesafios h2 span { font-family: 'montserratthin'; display: inline-block; text-transform: none; font-size: 22px; margin-left: 0px; margin-bottom: 25px; }

@media (min-width: 720px) { .booGrandesDesafios h2 span { margin-left: 30px; } }

@media (min-width: 992px) { .booGrandesDesafios h2 span { font-size: 24px; margin-bottom: 0; } }

.colSubsection, .colDesafio1, .colDesafio2, .colDesafio3, .colDesafio4 { background-repeat: no-repeat; background-position: center top; display: block; margin-bottom: 50px; padding-top: 100px; text-align: center; }

@media (min-width: 720px) { .colSubsection, .colDesafio1, .colDesafio2, .colDesafio3, .colDesafio4 { margin-bottom: 40px; margin-top: 30px; } }

@media (min-width: 992px) { .colSubsection, .colDesafio1, .colDesafio2, .colDesafio3, .colDesafio4 { margin-top: 30px; } }

@media (min-width: 1200px) { .colSubsection, .colDesafio1, .colDesafio2, .colDesafio3, .colDesafio4 { margin-top: 30px; margin-bottom: 20px; } }

@media (min-width: 992px) { .colSubsection p, .colDesafio1 p, .colDesafio2 p, .colDesafio3 p, .colDesafio4 p { padding: 0 10px; } }

@media (min-width: 1200px) { .colSubsection p, .colDesafio1 p, .colDesafio2 p, .colDesafio3 p, .colDesafio4 p { padding: 0 20px; } }

.mais { width: 18px; height: 18px; background-image: url(imgs/app/mais.svg); background-repeat: no-repeat; position: relative; background-position: center center; display: block; margin: 25px auto 0 auto; }

@media (min-width: 992px) { .mais { position: absolute; right: 0; top: 30px; background-position: 0 0; } }

.igual { width: 18px; height: 18px; background-image: url(imgs/app/igual.svg); background-repeat: no-repeat; position: relative; background-position: center center; display: block; margin: 25px auto 0 auto; }

@media (min-width: 992px) { .igual { position: absolute; right: 0; top: 30px; background-position: 0 0; } }

.colDesafio1 { background-image: url(imgs/app/icon-app1.svg); }

@media (min-width: 992px) { .colDesafio1 .mais { right: -20px; } }

.colDesafio2 { background-image: url(imgs/app/icon-app2.svg); }

.colDesafio3 { background-image: url(imgs/app/icon-app3.svg); }

.colDesafio4 { background-image: url(imgs/app/icon-app4.svg); }

.imgExperiences { position: relative; margin: 40px auto 0 auto; }

.appParalax { position: relative; width: 100%; margin: 0 auto; height: auto; }

@media (min-width: 992px) { .appParalax { margin: 0 auto; padding: 30px 0; height: 600px; } }

@media (min-width: 1200px) { .appParalax { padding: 30px 0; } }

.appParalax p { color: white; font-family: 'montserratlight'; font-size: 13px; line-height: 2.2; text-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px; letter-spacing: 2px; text-align: center; }

@media (min-width: 992px) { .appParalax p { text-align: left; } }

.appParalax .row { position: relative; }

.content1 { position: relative; width: 80%; margin: 0 auto; padding: 30px 0; }

@media (min-width: 992px) { .content1 { padding: 180px 0 0 0; margin: 0; width: 400px; } }

.content2 { width: 80%; margin: 0 auto; padding: 30px 0; position: relative; top: initial; right: initial; }

@media (min-width: 992px) { .content2 { position: absolute; top: 180px; right: 10px; padding: 0; width: 350px; } }

.contentParallax2 { padding: 50px 0 30px 0; }

@media (min-width: 992px) { .contentParallax2 { padding: 50px 0 0 0; } }

.contentParallax2 p { font-size: 15px; width: 80%; margin: 0 auto; text-align: center; }

@media (min-width: 992px) { .contentParallax2 p { padding-top: 40px; letter-spacing: 3px; line-height: 2.8; text-align: left; width: 100%; } }

@media (min-width: 1200px) { .contentParallax2 p { padding-top: 60px; } }

.contentParallax3 { padding: 50px 0 30px 0; }

@media (min-width: 992px) { .contentParallax3 { padding: 160px 0 0 0; } }

.contentParallax3 p { font-size: 15px; width: 80%; margin: 0 auto; text-align: center; }

@media (min-width: 992px) { .contentParallax3 p { padding-top: 40px; padding-right: 204px; letter-spacing: 3px; line-height: 2.8; text-align: left; width: 90%; } }

@media (min-width: 1200px) { .contentParallax3 p { padding-top: 30px; padding-right: 80px; } }

.iconImgApp { display: block; margin: 0 auto 20px auto; }

@media (min-width: 992px) { .iconImgApp { margin: 0 auto; } }

.ImgApp2 { display: block; margin: 40px auto 20px auto; }

@media (min-width: 992px) { .ImgApp2 { margin: 0 auto; } }

.viagens { position: relative; margin: 40px auto; }

.viagens h6 { line-height: 2; }

.rowCell { position: relative; margin: 20px auto 0 auto; }

.rowCell img { display: block; margin: 0 auto; }

.cellText { padding-top: 20px; text-align: center; padding-left: 0; }

@media (min-width: 992px) { .cellText { padding-top: 110px; text-align: left; padding-left: 30px; } }

.cellText h4 { font-size: 15px; }

.cellText .h61 { letter-spacing: 0; }

@media (min-width: 720px) { .cellText .h61 { letter-spacing: 3px; } }

.cellText .h41 { letter-spacing: 0; }

@media (min-width: 720px) { .cellText .h41 { letter-spacing: 12px; } }

.cellText .h42 { letter-spacing: 0; }

@media (min-width: 720px) { .cellText .h42 { letter-spacing: 2px; } }

.blogHeader { position: relative; width: 100%; padding: 30px 0; margin-bottom: 60px; background-size: cover; height: 300px; }

@media (min-width: 992px) { .blogHeader { height: 370px; } }

@media (min-width: 1200px) { .blogHeader { height: 460px; } }

.post { position: relative; margin: 0 auto 30px auto; padding: 0 10px; }

@media (min-width: 720px) { .post { padding: 0 20px; } }

@media (min-width: 992px) { .post { padding: 0; } }

.post .postImg { margin: 0 auto 10px auto; display: block; border: 5px solid #EBEBEB; width: 100%; }

.post .postImgMt { margin-top: 5px; }

.post .data { color: #A8A7B7; display: block; font-family: 'montserratlight'; font-size: 14px; }

.post .publisher { color: #A8A7B7; display: block; font-family: 'montserratlight'; font-size: 14px; margin-bottom: 7px; }

.post .publisher a:link, .post .publisher a:visited { color: #A8A7B7; text-decoration: none; transition: all 0.4s; }

.post .publisher a:link:hover, .post .publisher a:visited:hover { color: #47E4C2; }

.post .holderCateg { display: block; margin: 5px 0 15px 0; }

.post .holderCateg a.categoria:link, .post .holderCateg a.categoria:visited { color: white; background-color: #47E4C2; font-family: 'montserratlight'; font-size: 13px; padding: 2px 13px; border-radius: 20px; display: inline-block; margin-right: 2px; text-decoration: none; transition: all 0.4s; }

.post .holderCateg a.categoria:link:hover, .post .holderCateg a.categoria:visited:hover { background-color: #545E65; }

.post p { font-size: 16px; line-height: 1.6; }

.post .lerMais:link, .post .lerMais:visited { font-size: 16px; line-height: 1.6; text-decoration: underline; color: #47E4C2; font-style: italic; }

.post ul li { font-family: sanfrancisco; font-size: 16px; line-height: 1.6; color: #545E65; }

a.verTodos:link, a.verTodos:visited { color: white; background-color: #7b2d6d; font-family: 'montserratlight'; font-size: 13px; padding: 2px 13px; border-radius: 20px; display: inline-block; margin-right: 2px; text-decoration: none; transition: all 0.4s; display: inline-block; }

a.verTodos:link:hover, a.verTodos:visited:hover { background-color: #545E65; }

blockquote { border-left: 8px solid #47E4C2; background-color: #f5f5f5; font-style: italic; color: #545E65; font-size: 16px; padding: 23px 20px 23px 30px; margin: 15px auto; font-family: 'montserratthin'; }

blockquote span.author { display: block; font-family: 'montserratlight'; font-size: 15px; margin-top: 10px; margin-left: 0px; }

blockquote span.subauthor { display: block; font-family: 'montserratlight'; font-size: 12px; margin-top: 0px; margin-left: 0px; }

.postTitle:link, .postTitle:visited { display: block; text-transform: uppercase; color: #231F20; font-size: 20px; font-family: 'montserratbold'; text-decoration: none; transition: all 0.4s; line-height: 1.3; margin-bottom: 1px; }

.postTitle:link:hover, .postTitle:visited:hover { color: #47E4C2; }

.postTitle-title { display: block; text-transform: uppercase; color: #231F20; font-size: 20px; font-family: 'montserratbold'; text-decoration: none; transition: all 0.4s; line-height: 1.3; margin-bottom: 1px; }

.pagination > li > a, .pagination > li > span { color: #A8A7B7; transition: all 0.4s; }

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover { color: white; background-color: #47E4C2; }

.backtotop:link, .backtotop:visited { width: 62px; height: 62px; text-indent: -9999px; background-image: url(imgs/ui/backtotop.svg); background-repeat: no-repeat; background-position: center center; display: none; position: fixed; bottom: 62px; right: 30px; z-index: 100; transition: all 0.6s; }

.backtotop:link:hover, .backtotop:visited:hover { background-image: url(imgs/ui/backtotop-hover.svg); }

footer { position: relative; background-color: black; background-color: #545E65; margin: 0 auto; padding: 20px 0 30px 0; }

footer .container { position: relative; }

footer .footerMenu { display: none; }

@media (min-width: 720px) { footer .footerMenu { display: block; } }

@media (min-width: 992px) { footer .footerMenu { float: left; } }

footer .footerLogo { width: 100%; float: none; position: relative; text-align: center; }

@media (min-width: 720px) { footer .footerLogo { text-align: left; width: 60px; float: left; margin: 0 35px 0 0; } }

footer ul.footerBoo, footer ul.footerGimbal { margin: 0; padding: 0; }

footer ul.footerBoo li, footer ul.footerGimbal li { list-style: none; display: inline-block; }

footer ul.footerBoo li { margin: 20px 20px 20px 0; letter-spacing: 1px; }

footer ul.footerBoo li a:link, footer ul.footerBoo li a:visited { transition: all 0.4s; color: white; font-size: 12px; font-family: 'montserratthin'; text-transform: none; text-decoration: none; }

footer ul.footerBoo li a:link:hover, footer ul.footerBoo li a:visited:hover { color: #7b2d6d; }

footer ul.footerGimbal li { letter-spacing: 2px; font-size: 11px; }

@media (min-width: 720px) { footer ul.footerGimbal li { margin-right: 20px; } }

@media (min-width: 992px) { footer ul.footerGimbal li { letter-spacing: 3px; font-size: 13px; } }

footer ul.footerGimbal li a:link, footer ul.footerGimbal li a:visited { transition: all 0.4s; color: white; font-family: 'montserratbold'; text-transform: uppercase; text-decoration: none; }

footer ul.footerGimbal li a:link:hover, footer ul.footerGimbal li a:visited:hover { color: #47E4C2; }

footer .copyrights { text-align: center; list-style: none; margin-top: 10px; }

@media (min-width: 992px) { footer .copyrights { text-align: left; margin-top: 30px; } }

footer .copyrights li { list-style: none; display: inline; color: white; font-family: 'sanfrancisco'; font-size: 11px; margin-top: 4px; }

footer .copyrights li img { margin: -4px 6px 0 -5px; }

@media (min-width: 992px) { footer .copyrights li img { margin: -4px 6px 0 -40px; } }

footer .copyrights li span { color: white; font-family: 'montserratthin'; font-size: 14px; display: inline-block; margin-bottom: 10px; margin-right: 30px; }

@media (min-width: 992px) { footer .copyrights li span { margin-right: 30px; margin-bottom: 0; } }

footer .copyrights li p { color: white; display: block; font-size: 11px; font-family: 'sanfrancisco'; margin: 0; padding: 0; margin-left: -46px; }

@media (min-width: 992px) { footer .copyrights li p { display: inline; margin-left: 0; } }

footer ul.footerRedes { margin: 30px 0; padding: 0; position: relative; display: block; text-align: center; }

@media (min-width: 992px) { footer ul.footerRedes { margin: 0; position: absolute; right: 0; top: 10px; } }

footer ul.footerRedes li { list-style: none; display: inline; margin-right: 10px; }

footer ul.footerRedes li a { width: 34px; height: 34px; }

footer ul.footerRedes li:last-child { margin-right: 0; }

footer ul.footerTerms { margin: 0 auto; padding: 0; text-align: center; position: relative; }

@media (min-width: 992px) { footer ul.footerTerms { position: absolute; top: 117px; right: -5px; } }

footer ul.footerTerms li { list-style: none; display: inline; margin-right: 10px; }

footer ul.footerTerms li a:link, footer ul.footerTerms li a:visited { color: white; font-family: 'sanfrancisco'; font-size: 11px; text-decoration: none; transition: all 0.4s; }

footer ul.footerTerms li a:link:hover, footer ul.footerTerms li a:visited:hover { color: #47E4C2; }

#resposta { position: absolute; top: 10px; left: 10px; font-size: 14px; background-color: #47E4C2; color: #fff; margin-bottom: 10px; padding: 5px 10px; display: none; }

/*# sourceMappingURL=style.css.map */